{% import "utils/macros.html" as macros %}
{% set selected = "projetos" %}

{% extends 'base.html' %}

{% block extra_head %}
   
<link
   rel="stylesheet" type="text/css"
   href="{{ url_for('.static', filename='css/register.css') }}">
<link
   rel="stylesheet" type="text/css"
   href="{{ url_for('.static', filename='css/projetos.listing.css') }}">
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/inc/jquery.js') }}"></script>
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/projetos.listing.js') }}"></script>
{% endblock %}

{% block contenttitle %}<h2>{{ title }}</h2>{% endblock %}

{% block container %}

<div class="main container">

{% if user %}
<div class="buttons" style="margin-bottom: 20px; float: right;">
  {% if not meus_projetos %}
    {{ macros.button("Ver somente meus projetos", "window.location = '" + url_for('projetos.meus_projetos') + "';") }}
  {% else %}
    {{ macros.button("Ver todos os projetos", "window.location = '" + url_for('projetos.listing') + "';") }}
  {% endif %}
</div>
<div style="clear: both;"></div>
{% endif %}

{% autoescape false %}
  {{ paginator }} 
{% endautoescape %}
</div>


{% endblock %}
