{% set selected = "projetos" %}
{% extends 'base.html' %}

{% block extra_head %}
   
<link
   rel="stylesheet" type="text/css"
   href="{{ url_for('.static', filename='css/register.css') }}">
<link
   rel="stylesheet" type="text/css"
   href="{{ url_for('.static', filename='css/projetos.listing.css') }}">
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/inc/jquery.js') }}"></script>
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/projetos.listing.js') }}"></script>
{% endblock %}

{% block contenttitle %}<h2>Projetos</h2>{% endblock %}

{% block container %}

<div class="main container">
{% autoescape false %}
  {{ paginator }} 
{% endautoescape %}
</div>


{% endblock %}
