{% set selected = "projetos" %}
{% extends 'base.html' %}

{% block extra_head %}
<link
   rel="stylesheet" type="text/css"
   href="{{ url_for('.static', filename='css/usuarios.novo.css') }}">
<link
   rel="stylesheet" type="text/css"
   href="{{ url_for('.static', filename='css/projetos.novo.css') }}">
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/inc/jquery.js') }}"></script>
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/inc/jquery.validate.js') }}">
</script>
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/geral.novo.js') }}"></script>
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/projetos.novo.js') }}"></script>
{% endblock %}

{% block content %}
<h2>Cadastro de projetos</h2>

<form id="novoProjeto" method="post" action=".">
  <ol class="form">
    <li>
      <h3>Dados do projeto</h3>
      <ol class="section">
        <li>
          <label for="nome">Nome completo do projeto*</label>
          <input
             type="text" name="nome" id="nome" class="required"
             placeholder="Nome completo do Projeto:"/>
        </li>
        <li>
          <label for="tipo">Seu projeto é*</label>
          <select id="tipo" name="tipo"  class="required">
            <option></option>
            <option value="ponto">Ponto</option>
            <option value="pontao">Pontão</option>
            <option value="iniciativa_premiada">Iniciativa Premiada</option>
          </select>
        </li>
        <li>
          <label for="tipo_convenio">Qual tipo de convênio?*</label>
          <select id="tipo_convenio" name="tipo_convenio" class="required">
            <option></option>
            <option value="internacional">Internacional</option>
            <option value="federal">Federal</option>
            <option value="estadual">Estadual</option>
            <option value="municipal">Municipal</option>
          </select>
        </li>
        <li>
          <label for="numero_convenio">Número do convênio do projeto*</label>
          <input
             type="text" name="numero_convenio" id="numero_convenio" class="required"
             placeholder="Ex.: 329000139567"/>
          <em class="helpText">
            <a href="#">Onde eu encontro meu número de convênio?</a>
          </em>
        </li>
      </ol>
    </li>

    <li>
      <h3>Localização geográfica do projeto</h3>
      <ol class="section">
        <li class="subForm">
          <h4>Qual o endereço da SEDE do Projeto?</h4>
          <div class="formEndereco">
            <ul>
              <li>
                <label for="end_proj_cep">CEP*</label>
                <input
                    type="text" name="end_proj_cep" id="end_proj_cep" class="required"
                    onblur="cepWebService (this.value);"/>
                <em class="helpText">
                  <a href="#">Não sabe o seu CEP?</a>
                </em>
              </li>

              <li>
                <label for="end_proj_numero">Número*</label>
                <input
                    type="text" name="end_proj_numero" id="end_proj_numero" class="required"
                    placeholder="Ex.: 202"/>
              </li>

              <li>
                <label for="end_proj_logradouro">Logradouro*</label>
                <input
                    type="text" name="end_proj_logradouro"
                    id="end_proj_logradouro" class="required"
                    placeholder="Digite o nome de sua rua, Al., Av., Viela, etc. Ex.: Rua Lírios"/>
              </li>

              <li>
                <label for="end_proj_complemento">Complemento</label>
                <input
                    type="text" name="end_proj_complemento"
                    id="end_proj_complemento" placeholder="Ex.: B"/>
              </li>

              <li>
                <label for="end_proj_uf">UF*</label>
                <select name="end_proj_uf" id="end_proj_uf" class="required">
                  <option></option>
                  {% for uf in vals_uf %}
                  <option value="{{ uf }}">{{ uf }}</option>
                  {% endfor %}
                </select>
              </li>

              <li>
                <label for="end_proj_cidade">Cidade*</label>
                <input
                    type="text" name="end_proj_cidade" id="end_proj_cidade" class="required"
                    placeholder="Ex.: Salvador"/>
              </li>

              <li>
                <label for="end_proj_bairro">Bairro*</label>
                <input
                    type="text" name="end_proj_bairro" id="end_proj_bairro" class="required"
                    placeholder="Ex.: Vila das Flores"/>
              </li>

              <li>
                <label for="end_proj_latitude">Latitude*</label>
                <input
                    type="text" name="end_proj_latitude"
                    id="end_proj_latitude" class="required" placeholder="Ex.: + 23146940000"/>
              </li>

              <li class="bottomBorder">
                <label for="end_proj_longitude">Longitude*</label>
                <input
                    type="text" name="end_proj_longitude"
                    id="end_proj_longitude" class="required" placeholder="Ex.: - 234559898332"/>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <label for="local_proj">Onde o seu projeto ocorre?*</label>
          <select name="local_proj" id="local_proj" class="required">
            <option></option>
            <option value="sede">Sede</option>
            <option value="itinerante">Itinerante</option>
            <option value="outros">Outros locais</option>
          </select>
          <!-- <em class="helpText">Cadastre outros endereços abaixo</em> -->
        </li>

        <div id="local_proj_outros" class="displayNone">
          <h4>Endereços</h4>
          <li>
            <ul class="enderecos">
              <li class="subForm">

                <div class="formEndereco">
                  <ul>
                    <li>
                      <label for="end_outro_nome">Nome do local</label>
                      <input
                          type="text" name="end_outro_nome" id="end_outro_nome"
                          onblur="javascript:atualizarEnderecos ();"/>
                    </li>
                    <li>
                      <label for="end_outro_cep">CEP*</label>
                      <input
                          type="text" name="end_outro_cep" id="end_outro_cep" class="required"
                          onblur="cepWebService (this.value);"/>
                      <em class="helpText">
                        <a href="#">Não sabe o seu CEP?</a>
                      </em>
                    </li>

                    <li>
                      <label for="end_outro_numero">Número*</label>
                      <input type="text" name="end_outro_numero" class="required"
                             id="end_outro_numero" placeholder="Ex.: 202"/>
                    </li>

                    <li>
                      <label for="end_outro_logradouro">Logradouro*</label>
                      <input type="text" name="end_outro_logradouro"
                             id="end_outro_logradouro" class="required"
                             placeholder="Digite o nome de sua rua, Al., Av., Viela, etc. Ex.: Rua Lírios"/>
                    </li>

                    <li>
                      <label for="end_outro_complemento">Complemento</label>
                      <input type="text" name="end_outro_complemento"
                             id="end_outro_complemento" placeholder="Ex.: B"/>
                    </li>

                    <li>
                      <label>UF*</label>
                      <select name="end_outro_uf" id="end_outro_uf" class="required">
                        <option></option>
                        {% for uf in vals_uf %}
                        <option value="{{ uf }}">{{ uf }}</option>
                        {% endfor %}
                      </select>
                    </li>

                    <li>
                      <label for="end_outro_cidade">Cidade*</label>
                      <input type="text" name="end_outro_cidade" class="required"
                             id="end_outro_cidade" placeholder="Ex.: Salvador"/>
                    </li>

                    <li>
                      <label for="end_outro_bairro">Bairro*</label>
                      <input
                          type="text" name="end_outro_bairro" class="required"
                          id="end_outro_bairro"
                          placeholder="Ex.: Vila das Flores"/>
                    </li>

                    <li>
                      <label for="end_outro_latitude">Latitude*</label>
                      <input
                          type="text" name="end_outro_latitude" class="required"
                          id="end_outro_latitude"
                          placeholder="Ex.: + 23146940000"/>
                    </li>

                    <li class="bottomBorder">
                      <label for="end_outro_longitude">Longitude*</label>
                      <input
                          type="text" name="end_outro_longitude" class="required"
                          id="end_outro_longitude"
                          placeholder="Ex.: - 234559898332"/>
                    </li>
                  </ul>
                </div><!-- form de endereco Duplicado via javascript -->
              </li>
            </ul>
            <input class="sub" type="button" value="Outro endereço"
                   onclick="novoEndereco ();"/>
          </li>
        </div>
      </ol>
    </li><!-- Localização geográfica do projeto -->

    <li>
      <h3>Contatos e Espaços na rede</h3>
      <ol class="section">
        <li>
          <ul class="telefones subForm" id="tel_proj">
            <li class="bottomBorder">
              <label>
                <span>Telefone</span>
                <input type="text" name="tel_proj" placeholder="DDD + Fone"/>
              </label>
              <span style="display: none;"> <form:error name="tel_proj" format="escapenl"></span>
            </li>
          </ul>
          <input
             type="button" value="Outro telefone"
             onclick="novoTelefone ($('.telefones', $(this).parent()));"/>
        </li>

        <li>
          <label for="email_proj">Email*</label>
          <input
             type="text" name="email_proj" id="email_proj" class="required"
             placeholder="Digite o endereço de e-mail do Projeto. Ex.: pcvilapangeia@cultura.org.br"/>
        </li>

        <li>
          <label for="website_proj">Website</label>
          <input
             type="text" name="website_proj" id="website_proj"
             placeholder="Digite o endereço do site do Projeto. Ex.: www.pcvilapangeia.com.br"/>
        </li>

        <li>
          <label for="frequencia">Frequência de Radio Transmissor</label>
          <input type="text" name="frequencia" id="frequencia"/>
        </li>

        <li class="subForm">
          <h4>Redes sociais</h4>
          <ul id="redesSociais">
            <li>
              <label for="rs_nome">Nome</label>
              <input
                 type="text" name="rs_nome" id="rs_nome"
                 placeholder="Twitter"/>
            </li>
            <li class="bottomBorder">
              <label for="rs_link">Endereço</label>
              <input
                 type="text" name="rs_link" id="rs_link"
                 placeholder="Ex.: http://twitter.com/vilapangeia"/>
            </li>
          </ul><!-- Redes sociais -->
          <input
              class="sub" type="button" value="Outra rede"
              onclick="novaEntrada ($('#redesSociais'), 'rs');"/>
        </li>

        <li class="subForm">
          <h4>Feeds</h4>
          <ul id="feeds">
            <li>
              <label for="feed_nome">Nome</label>
              <input
                 type="text" name="feed_nome" id="feed_nome"
                 placeholder="Blog do Simp. Internacional de Políticas Públicas de Acervos Digitais"/>
            </li>
            <li class="bottomBorder">
              <label for="feed_link">Endereço</label>
              <input
                 type="text" name="feed_link" id="feed_link"
                 placeholder="http://culturadigital.br/simposioacervosdigitais/feed/"/>
            </li>
          </ul><!-- Feeds -->
          <input class="sub" type="button" value="Outro feed"
                 onclick="novaEntrada ($('#feeds'), 'feed');"/>
        </li>
      </ol><!-- Contatos e espaços na rede -->
    </li>

    <li>
      <h3>Comunicação e Cultura Digital</h3>
      <ol class="section">
        <li>
          <label>
            A sede do projeto possui telefone?*
          </label>
          <ul class="comCdTelefone">
            <li>
              <label class="radio">
                <input type="radio" name="sede_possui_tel" value="sim"/>
                Sim
              </label>
            </li>
            <li>
              <label class="radio">
                <input type="radio" name="sede_possui_tel" value="nao"/>
                Não
              </label>
            </li>
          </ul>
          <br clear="both">
        </li>

        <li id="sede_possui_tel_sim" class="displayNone formCinza">
          <label for="tipo_tel_sede">Qual tipo?</label>
          <select name="tipo_tel_sede" id="tipo_tel_sede">
            <option></option>
            <option value="fixo">Fixo</option>
            <option value="celular">Celular</option>
            <option value="radio">Rádio</option>
            <option value="rural">Rural</option>
            <option value="publico">Público</option>
          </select>
        </li>

        <li id="sede_possui_tel_nao" class="displayNone formCinza">
          <label for="pq_sem_tel">Por quê?</label>
          <select name="pq_sem_tel" id="pq_sem_tel">
            <option></option>
            <option value="opcao">Opção</option>
            <option value="fornecimento">
              Não há fornecimento do serviço na região
            </option>
            <option value="recursos">Falta de recursos</option>
            <option value="outro">Outro</option>
          </select>
        </li>

        <li id="pq_sem_tel_outro_escolhido" class="displayNone formCinza">
          <label for="pq_sem_tel_outro">Qual?</label>
          <input
              type="text" name="pq_sem_tel_outro" id="pq_sem_tel_outro"/>
        </li>

        <li>
          <label>A sede do projeto possui acesso à internet?*</label>
          <ul>
            <li>
              <label class="radio">
                <input type="radio" name="sede_possui_net" value="sim"/>
                Sim
              </label>
            </li>

            <li>
              <label class="radio">
                <input type="radio" name="sede_possui_net" value="nao"/>
                Não
              </label>
            </li>
          </ul>
        </li>

        <li id="sede_possui_net_sim" class="displayNone formCinza">
          <label for="tipo_internet">Qual tipo?</label>
          <select name="tipo_internet" id="tipo_internet">
            <option></option>
            <option value="discada">Discada</option>
            <option value="3g">3G</option>
            <option value="adsl">ADSL/Cabo (Banda Larga)</option>
            <option value="radio">Rádio</option>
            <option value="gesac">Gesac</option>
            <option value="publica">Internet Pública</option>
          </select>
        </li>

        <li id="sede_possui_net_nao" class="displayNone formCinza">
          <label for="pq_sem_internet">Por quê?</label>
          <select name="pq_sem_internet" id="pq_sem_internet">
            <option></option>
            <option value="opcao">Opção</option>
            <option value="fornecimento">
              Não há fornecimento do serviço na região
            </option>
            <option value="recursos">Falta de recursos</option>
            <option value="outro">Outro</option>
          </select>
        </li>

        <li id="pq_sem_internet_outro_escolhido" class="displayNone formCinza">
          <label for="pq_sem_internet_outro">Qual?</label>
          <input
              type="text" name="pq_sem_internet_outro"
              id="pq_sem_internet_outro"/>
        </li>
      </ol><!-- Comunicação e Cultura Digital -->
    </li>

    <li>
      <h3>Entidade Proponente</h3>
      <ol class="section">
        <li>
          <label for="nome_ent">Nome Completo da Entidade*</label>
          <input
             type="text" name="nome_ent" id="nome_ent" class="required"
             placeholder="Ponto de Cultura Vila Pangéia"/>
        </li>

        <li>
          <label>
            O endereço da Entidade é o mesmo endereço do Projeto?*
          </label>
          <ul>
            <li>
              <label>
                <input
                    type="radio" name="endereco_ent_proj" value="sim" class="required" />
                Sim
              </label>
            </li>

            <li>
              <label>
                <input
                    type="radio" name="endereco_ent_proj" value="nao" class="required" />
                Não
            </label>
            </li>
          </ul>
        </li>

        <div id="endereco_ent_proj_nao" class="displayNone">
          <li class="subForm">
            <h4>Endereço da Entidade</h4>

            <div class="formEndereco">
              <ul>
                <li>
                  <label for="end_ent_cep">CEP*</label>
                  <input
                      type="text" name="end_ent_cep" id="end_ent_cep" class="required"
                      onblur="cepWebService (this.value);"/>
                  <em class="helpText">
                    <a href="#">Não sabe o seu CEP?</a>
                  </em>
                </li>

                <li>
                  <label for="end_ent_numero">Número*</label>
                  <input
                      type="text" name="end_ent_numero" id="end_ent_numero" class="required"
                      placeholder="Ex.: 202"/>
                </li>

                <li>
                  <label for="end_ent_logradouro">Logradouro*</label>
                  <input
                     type="text" name="end_ent_logradouro"
                     id="end_ent_logradouro" class="required"
                     placeholder="Digite o nome de sua rua, Al., Av., Viela, etc. Ex.: Rua Lírios"/>
                </li>

                <li>
                  <label for="end_ent_complemento">Complemento</label>
                  <input
                      type="text" name="end_ent_complemento"
                      id="end_ent_complemento" placeholder="Ex.: B"/>
                </li>

                <li>
                  <label>UF*</label>
                  <select name="end_ent_uf" id="end_ent_uf" class="required">
                    <option></option>
                    {% for uf in vals_uf %}
                    <option value="{{ uf }}">{{ uf }}</option>
                    {% endfor %}
                  </select>
                </li>

                <li>
                  <label for="end_ent_cidade">Cidade*</label>
                  <input
                      type="text" name="end_ent_cidade" id="end_ent_cidade" class="required"
                      placeholder="Ex.: Salvador"/>
                </li>

                <li>
                  <label for="end_ent_bairro">Bairro*</label>
                  <input
                      type="text" name="end_ent_bairro" id="end_ent_bairro" class="required"
                      placeholder="Ex.: Vila das Flores"/>
                </li>

                <li>
                  <label for="end_ent_latitude">Latitude*</label>
                  <input
                      type="text" name="end_ent_latitude" id="end_ent_latitude" class="required"
                      placeholder="Ex.: + 23146940000"/>
                </li>

                <li class="bottomBorder">
                  <label for="end_ent_longitude">Longitude*</label>
                  <input
                      type="text" name="end_ent_longitude" class="required"
                      id="end_ent_longitude" placeholder="Ex.: - 234559898332"/>
                </li>
              </ul>
            </div>
          </li>
        </div>

        <li>
          <ul class="telefones subForm">
            <li class="bottomBorder">
              <label>
                <span>Telefone</span>
                <input type="text" name="tel_ent" placeholder="DDD + Fone"/>
              </label>
            </li>
          </ul>
          <input
             type="button" value="Outro telefone"
             onclick="novoTelefone ($('.telefones', $(this).parent()));"/>
        </li>

        <li>
          <label for="email_ent">Email</label>
          <input
             type="text" name="email_ent" id="email_ent"
             placeholder="Ex.: pcvilapangeia@cultura.org.br"/>
        </li>

        <li>
          <label for="website_ent">Website</label>
          <input
             type="text" name="website_ent" id="website_ent"
             placeholder="www.pcvilapangeia.com.br"/>
        </li>

        <li>
          <label>
          A entidade possui outro convênio com o programa Cultura Viva?
          </label>
          <ul>
            <li>
              <label>
                <input type="radio" name="convenio_ent" value="sim"/>
                Sim
              </label>
            </li>

            <li>
              <label>
                <input type="radio" name="convenio_ent" value="nao"/>
                Não
              </label>
            </li>
          </ul>
        </li>

        <li id="convenio_ent_sim" class="displayNone">
          <ul class="telefones subForm">
            <li class="bottomBorder">
              <label>
              Qual?
              <input
                  type="text" name="outro_convenio"
                  placeholder="Ex.: Pontão Vila Pangéia"/>
              </label>
            </li>
          </ul>
          <input class="sub" type="button" value="Outro convenio"
                 onclick="novoConvenio ($('.telefones', $(this).parent()));"/>
        </li>
      </ol>
    </li><!-- Entidade Proponente -->

    <li>
      <h3>Atividades exercidas pelo projeto</h3>
      <ol class="section">
        <li class="subForm">
          <p>
            Qual a área de atuação das atividades do <b>Projeto</b>?*
            <em class="helpText">Responda mais de uma se necessário!</em>
          </p>
          <ul>
            <li>
              <label>
                <input type="checkbox" name="atividade" value="Cultura popular"/>
                Cultura Popular
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Direitos humanos"/>
                Direitos Humanos
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Economia solidária"/>
                Economia Solidária
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Educação"/>
                Educação
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Esportes e lazer"/>
                Esportes e Lazer
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Etnia"/>
                Etnia
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Gênero"/>
                Gênero
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Habitação"/>
                Habitação
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Meio Ambiente"/>
                Meio ambiente
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Memória"/>
                Memória
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade"
                       value="Patrimônio histórico imaterial"/>
                Patrimônio Histórico Imaterial
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade"
                       value="Patrimônio histórico material"/>
                Patrimônio Histórico Material
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Pesquisa e Extensão"/>
                Pesquisa e Extensão
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade"
                       value="Povos e comunidades tradicionais"/>
                Povos e comunidades tradicionais
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Recreação"/>
                Recreação
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Religião"/>
                Religião
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Saúde"/>
                Saúde
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Sexualidade"/>
                Sexualidade
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Tecnologia"/>
                Tecnologia
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="atividade" value="Trabalho"/>
                Trabalho
              </label>
            </li>

            <!--
            <li>
              <label>
                <input type="checkbox" name="outras_atividades"/>
                Outros
              </label>
            </li>
            -->

            </ul>
        </li>

        <!--
        <li id="outras_atividades_escolhido" class="displayNone">
          <label for="quais_outras_atividades">Quais?</label>
          <input
              type="text" name="quais_outras_atividades"
              id="quais_outras_atividades"/>
        </li>
        -->

        <li>
          <h4>
            Com qual <strong>Público Alvo</strong> o <strong>Projeto</strong> é
            desenvolvido?*
          </h4>
          <ul>
            <li class="subForm">
              <p>Sob aspectos de <strong>Faixa Etária</strong></p>
              <ul>
                <li>
                  <label>
                    <input type="checkbox" name="publico_alvo" value="Criancas" />
                    Crianças
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox" name="publico_alvo" value="Adolescentes"/>
                    Adolescentes
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox" name="publico_alvo" value="Adultos"/>
                    Adultos
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox" name="publico_alvo" value="Jovens"/>
                    Jovens
                  </label>
                </li>
              </ul>
            </li>

            <li class="subForm">
              <p>Sob aspectos das <strong>Culturas Tradicionais</strong></p>
              <ul>
                <li>
                  <label>
                    <input type="checkbox" name="culturas_tradicionais" value="Quilombola"/>
                    Quilombola
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox" name="culturas_tradicionais" value="Pomerano"/>
                    Pomerano
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox" name="culturas_tradicionais" value="Caiçara"/>
                    Caiçara
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox" name="culturas_tradicionais" value="Indígena"/>
                    Indígena
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox" name="culturas_tradicionais" value="Cigana"/>
                    Cigana
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox" name="culturas_tradicionais" value="Povos da floresta"/>
                    Povos da Floresta
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox" name="culturas_tradicionais" value="Ribeirinhos"/>
                    Ribeirinhos
                  </label>
                </li>

                <!--
                <li>
                  <label>
                    <input type="checkbox" name="outras_culturas"/>
                    Outras
                  </label>
                </li>
                -->
              </ul>
            </li>

            <!--
            <li id="outras_culturas_escolhido" class="displayNone subForm">
              <label for="quais_outras_culturas">Quais?</label>
              <input type="text" name="quais_outras_culturas"
                     id="quais_outras_culturas"
                     placeholder="Ex.: Comunidade Judaica"/>
            </li>
            -->

            <li class="subForm">
              <p>Sob aspectos de <strong>Ocupação do Meio</strong></p>
              <ul>
                <li>
                  <label>
                    <input type="checkbox" name="ocupacao_do_meio" value="Rural"/>
                    Rural
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox" name="ocupacao_do_meio" value="Urbano"/>
                    Urbano
                  </label>
                </li>

                <!--
                <li>
                  <label>
                    <input type="checkbox" name="ocupacao_do_meio" value="outra_ocupacao"/>
                    Outro
                  </label>
                </li>
                -->
              </ul>
            </li>

            <!--
            <li id="outra_ocupacao_escolhido" class="displayNone">
              <label for="qual_outra_ocupacao">Qual?</label>
              <input
                  type="text" name="qual_outra_ocupacao"
                  id="qual_outra_ocupacao"/>
            </li>
            -->

            <li class="subForm">
              <p>Sob aspectos de <strong>Gênero</strong></p>
              <ul>
                <li>
                  <label>
                    <input type="checkbox" name="genero" value="Mulheres"/>
                    Mulheres
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox" name="genero" value="Homens"/>
                    Homens
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox" name="genero" value="LGBT"/>
                    LGBT
                  </label>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="subForm">
          <p>
            Quais são as Manifestações e Linguagens que o Projeto utiliza em
            suas atividades?
            <em class="helpText">Responda mais de uma se necessário!</em>
          </p>
          <ul>
            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Artes digitais"/>
                Artes digitais
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Artes plásticas"/>
                Artes plásticas
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Audiovisual"/>
                Audiovisual
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Circo"/>
                Circo
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Culinária"/>
                Culinária
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Dança"/>
                Dança
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Fotografia"/>
                Fotografia
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Grafite"/>
                Grafite
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Internet"/>
                Internet
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Jornalismo"/>
                Jornalismo
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Literatura"/>
                Literatura
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Música"/>
                Música
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Rádio"/>
                Rádio
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Teatro"/>
                Teatro
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Tecnologias digitais"/>
                Tecnologias digitais
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="Tradição oral"/>
                Tradição oral
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="manifestacoes_linguagens" value="TV"/>
                TV
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="outras_manifestacoes"/>
                Outras
              </label>
            </li>
          </ul>
        </li>

        <!--
        <li id="outras_manifestacoes_escolhido" class="displayNone">
          <label for="quais_outras_manifestacoes">Quais?</label>
          <input
              type="text" name="quais_outras_manifestacoes"
              id="quais_outras_manifestacoes"/>
        </li>
        -->

        <li class="subForm">
          <p>
            O <strong>Projeto</strong> participa de alguma <strong>Ação</strong>
            do <strong>Programa Cultura Viva?</strong>*
          </p>
          <ul>
            <li>
              <label>
                <input type="radio" name="participa_cultura_viva" value="sim"/>
                Sim
              </label>
            </li>

            <li>
              <label>
                <input type="radio" name="participa_cultura_viva" value="nao"/>
                Não
              </label>
            </li>
          </ul>
        </li>

        <li id="participa_cultura_viva_sim" class="displayNone">
          <p>
            Qual(is)?
            <em class="helpText">Responda mais de uma se necessário!</em>
          </p>
          <ul>
            <li>
              <label>
                <input type="checkbox" name="acao_cultura_viva" value="Agente cultura viva"/>
                Agente Cultura Viva
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="acao_cultura_viva" value="Cultura digital"/>
                Cultura Digital
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="acao_cultura_viva" value="Cultura e saúde"/>
                Cultura e Saúde
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="acao_cultura_viva" value="Economia viva"/>
                Economia Viva
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="acao_cultura_viva" value="Escola viva"/>
                Escola Viva
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="acao_cultura_viva" value="Grios"/>
                Grios
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="acao_cultura_viva" value="Interacoes estéticas"/>
                Interações Estéticas
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="acao_cultura_viva" value="Mídias livres"/>
                Mídias Livres
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="acao_cultura_viva" value="Pontinho de cultura"/>
                Pontinho de Cultura
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="acao_cultura_viva" value="Pontos de memoria"/>
                Pontos de memória
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="acao_cultura_viva" value="Redes indígenas"/>
                Redes Indígenas
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" name="acao_cultura_viva" value="Tuxaua"/>
                Tuxaua
              </label>
            </li>
          </ul>
        </li>

        <li class="subFormDesc">
          <label for="descricao" class="ldescricao">
            Descrição breve sobre as atividades do Projeto
          </label>
          <textarea
             name="descricao" id="descricao"
             placeholder="Descreve aspectos relevantes do Projeto que gostaria de ressaltar..."></textarea>
        </li>

        <li>
          <ul class="telefones subForm">
            <li class="bottomBorder">
              <label>
                Upload de Plano de trabalho e documentações do Projeto
                <input type="file" name="documentacoes"/>
              </label>
            </li>
          </ul>
          <input
             type="button" value="Outro arquivo"
             onclick="novaDocumentacao ($('.telefones', $(this).parent()));"/>
        </li>
      </ol>
    </li><!-- Atividades exercidas pelo projeto -->

    <li>
      <h3>Parcerias do Projeto</h3>
      <ol class="section">
        <li>
          <label>O Projeto estabeleceu Parcerias?*</label>
          <ul>
            <li>
              <label class="radio">
                <input type="radio" name="estabeleceu_parcerias" value="sim"/>
                Sim
              </label>
            </li>

            <li>
              <label class="radio">
                <input type="radio" name="estabeleceu_parcerias" value="nao"/>
                Não
              </label>
            </li>
          </ul>
        </li>

        <div id="parcerias_sim" class="displayNone">
          <li class="subForm formCinza">
            Com qual(quais) parceiro(s)?
            <ul>
              <li>
                <label>
                  <input type="checkbox" name="parcerias" value="Biblioteca"/>
                  Biblioteca
                </label>
              </li>

              <li>
                <label>
                  <input type="checkbox" name="parcerias" value="Empresa"/>
                  Empresa
                </label>
              </li>

              <li>
                <label>
                  <input type="checkbox" name="parcerias" value="Equipamento de saúde"/>
                  Equipamento de Saúde
                </label>
              </li>

              <li>
                <label>
                  <input type="checkbox" name="parcerias" value="Escola"/>
                  Escola
                </label>
              </li>

              <li>
                <label>
                  <input type="checkbox" name="parcerias" value="Igreja"/>
                  Igreja
                </label>
              </li>

              <li>
                <label>
                  <input type="checkbox" name="parcerias" value="ONG"/>
                  ONG
                </label>
              </li>

              <li>
                <label>
                  <input type="checkbox" name="parcerias" value="Poder público"/>
                  Poder público
                </label>
              </li>

              <li>
                <label>
                  <input type="checkbox" name="parcerias" value="Pontos de memória"/>
                  Pontos de Memória
                </label>
              </li>

              <li>
                <label>
                  <input type="checkbox" name="parcerias" value="Redes indígenas"/>
                  Redes Indígenas
                </label>
              </li>

              <li>
                <label>
                  <input type="checkbox" name="parcerias" value="Sistema S"/>
                  Sistema S (Sesc, Senai, Senac, etc)
                </label>
              </li>

              <li>
                <label>
                  <input type="checkbox" name="parcerias" value="Tuxaua"/>
                  Tuxaua
                </label>
              </li>

              <!--
              <li>
                <label>
                  <input type="checkbox" name="outros_parceiros"/>
                  Outros.
                </label>
                <label for="quais_outros_parceiros">Quais?</label>
                <input
                    type="text" name="quais_outros_parceiros"
                    id="quais_outros_parceiros"/>
              </li>
              -->
            </ul>
          </li>

          <li>
            <ul class="telefones subForm">
              <li class="bottomBorder">
                <label>
                  <span>Nome do Parceiro</span>
                  <input
                      type="text" name="parcerias"
                      placeholder="Ex.: Sesc São Carlos"/>
                </label>
              </li>
            </ul>
            <input type="button" value="Outro parceiro"
                   onclick="novoParceiro ($('.telefones', $(this).parent()));"/>
          </li>
        </div>
      </ol>
    </li>

    <li>
      <h3>Índice de Acesso à Cultura</h3>
      <ol class="section">
        <li class="subForm">
        <li>
          <label for="ind_oficinas">Oficinas</label>
          <input type="text" name="ind_oficinas" id="ind_oficinas"/>
        </li>

        <li>
          <label for="ind_expectadores">Número de expectadores</label>
          <input
             type="text" name="ind_expectadores" id="ind_expectadores"/>
        </li>

        <li>
          <label for="ind_populacao">
            População atendida pelo Projeto
          </label>
          <input type="text" name="ind_populacao" id="ind_populacao"/>
        </li>

        <li>
          Índice Cultura = X
        </li>

      </ol>
    </li>

    <li>
      <h3>Avatar</h3>
      <ol class="section">
        <li>
          <label for="avatar">Escolha uma imagem</label>
          <input type="file" name="avatar" id="avatar"/>
        </li>
      </ol>
    </li>

    </li>
  </ol>

  <div class="botaoEnviar">
    <input type="submit" value="Efetuar o cadastro"/>
  </div>

</form>

<script type="text/javascript">

var funcs = {'rs_nome': novaEntrada,
             'feed_nome': novaEntrada,
             'tel_proj': novoTelefone}
var blocksSet = {'rs_nome': $('#redesSociais'),
                 'feed_nome': $('#feeds'),
                 'tel_proj': $('#tel_proj')}
var ev = [];
var valuesDict ={};
var errors = [];
var errorsDict = {};
{% if errors %}
    {% for id,error_list in errors.items() %}
        {% for error in error_list %}
            errors.push('{{ error }}');
        {% endfor %}
        errorsDict['{{ id }}'] = errors;
    {% endfor %}
    errors = [];
{% endif %}

{% if values %}
    {% for id,v in values %}
        ev = [];
        {% for item in v %}
            {% if loop.index > 1 %}
                if (funcs['{{ id }}']) {
                    funcs['{{ id }}'](blocksSet['{{ id }}'], '{{ id }}'.split('_')[0]);
                }
            {% endif %}
        ev.push('{{ item }}');
        {% endfor %}
        valuesDict['{{ id }}'] = ev;
    {% endfor %}
{% endif %}

for (var key in valuesDict) {
    var thev = valuesDict[key];
    $('input[name=' + key + ']').each(function () {
        $(this).val(thev.splice(0,1));
    });
}

for (var key in errorsDict) {
    var thee;
    $('input[name=' + key + ']').each(function () {
        thee = errorsDict[key].splice(0,1);
        if (thee != 'None') {
            $(this).addClass("error");
            $('<div class="error-message">' + thee + '</div>').insertBefore($(this).prev());
        }
    });
}

</script>


{% endblock %}

