<fieldset class="endereco" style="width: 100%">
  <legend>Endereço</legend>
  <ul>
    <li><a class="logradouro"></a></li>
    <li><a class="bairro"></a></li>
    <li><a class="cidade"></a> - <a class="uf"></a></li>
  </ul>
</fieldset>

<fieldset class="contatos"  style="width: 100%">
  <legend>Contatos</legend>
  <div class="email">
    <label>Email</label> <a href=""></a>
  </div>
  <div class="site">
    <label>Site</label>
    <a href=""></a>
  </div>
  <div class="telefones">
    <strong>Telefones</strong>
    <ul></ul>
  </div>
</fieldset>
