<div class="step" id="indiceAcessoCultura">
  <div class="main">
    <h3>Índice de Acesso à Cultura</h3>
    <ul>
      <li>
        <label for="ind_oficinas">Oficinas: </label>
        <input type="text" name="ind_oficinas" id="ind_oficinas" class="textarea large" />
      </li>

      <li>
        <label for="ind_expectadores">Número de expectadores</label>
        <input
           type="text" name="ind_expectadores" id="ind_expectadores" class="textarea large" />
      </li>

      <li>
        <label for="ind_populacao">
          População atendida pelo Projeto
        </label>
        <input type="text" name="ind_populacao" id="ind_populacao" class="textarea large"/>
      </li>

      <li>
        Índice Cultura = X
      </li>
    </ul>
  </div>
</div>
