{% import "utils/macros.html" as macros %}

<div class="step" id="publico">
  <div class="main">
    <h3>Com qual Público Alvo o Projeto é desenvolvido? *</h3>
    <ul>
      <li>
        <h4>Sob aspectos de <strong>Faixa Etária</strong></h4>
        <div>
          <input type="checkbox" name="publico_alvo" value="" style="display: none;" />
        </div>
        {{ macros.make_checkbox_list('publico_alvo', cadastro.PUBLICO_ALVO, 4) }}
      </li>

      <li>
        <h4>Sob aspectos das <strong>Culturas Tradicionais</strong></h4>
        {{ macros.make_checkbox_list('culturas_tradicionais', cadastro.CULTURAS_TRADICIONAIS, 4) }}
      </li>


      <li>
        <h4>Sob aspectos de <strong>Ocupação do Meio</strong></h4>
        {{ macros.make_checkbox_list('ocupacao_do_meio', cadastro.OCUPACAO_DO_MEIO, 2) }}
      </li>


      <li>
        <h4>Sob aspectos de <strong>Gênero</strong></h4>
        {{ macros.make_checkbox_list('genero', cadastro.GENERO, 3) }}
      </li>

      <li class="bordertop">
        <h3>
          Quais são as Manifestações e Linguagens que o Projeto utiliza em
          suas atividades? <em class="helptext">Responda mais de uma se necessário!</em>
        </h3>
        {{ macros.make_checkbox_list('manifestacoes_linguagens', cadastro.MANIFESTACOES_LINGUAGENS, 3) }}
      </li>

      <li>
       <ul id="upload_doc">
         <li>
           <label>
             Upload de Plano de trabalho e documentações do Projeto
           </label>
           <div>
            {% if projeto %}
            {% autoescape false %}
              {{ functions.file_list_for_edit(projeto.documentacoes, projeto.id) }}
            {% endautoescape %}
            {% endif %} 
           </div>
           <input type="file" name="documentacoes" />        <a href="javascript: novaDocumentacao ($('#upload_doc'));" class="add">Outro arquivo</a>
         </li>
       </ul>
      </li>
    </ul>
  </div>
</div>

