{% import "utils/macros.html" as macros %}

<div class="step" id="atividadesExercidasProjeto">
  <div class="main">
    <div>
      <h3>Atividades exercidas pelo projeto</h3>
      <h4>
        Qual a área de atuação das atividades do Projeto? *
        <em class="helptext">Responda mais de uma se necessário!</em>
      </h4>
    </div>
    <div>
      <input type="checkbox" name="atividade" value="" style="display: none;" />
    </div>
    <ul>
      <li>
        {{ macros.make_checkbox_list('atividade', cadastro.ATIVIDADE, 2) }}
      </li>
    </ul>
  </div>
</div>



