<li id="atividadesExercidasProjeto" style="display: none;">
   <h3>Atividades exercidas pelo projeto</h3>
   <ol class="section">
     <li class="subForm">
       <p>
         Qual a área de atuação das atividades do <b>Projeto</b>?*
         <em class="helpText">Responda mais de uma se necessário!</em>
       </p>
       <ul>
         <li>
           <label>
             <input type="checkbox" name="atividade" value="Cultura popular"/>
             Cultura Popular
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Direitos humanos"/>
             Direitos Humanos
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Economia solidária"/>
             Economia Solidária
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Educação"/>
             Educação
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Esportes e lazer"/>
             Esportes e Lazer
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Etnia"/>
             Etnia
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Gênero"/>
             Gênero
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Habitação"/>
             Habitação
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Meio Ambiente"/>
             Meio ambiente
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Memória"/>
             Memória
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade"
                    value="Patrimônio histórico imaterial"/>
             Patrimônio Histórico Imaterial
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade"
                    value="Patrimônio histórico material"/>
             Patrimônio Histórico Material
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Pesquisa e Extensão"/>
             Pesquisa e Extensão
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade"
                    value="Povos e comunidades tradicionais"/>
             Povos e comunidades tradicionais
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Recreação"/>
             Recreação
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Religião"/>
             Religião
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Saúde"/>
             Saúde
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Sexualidade"/>
             Sexualidade
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Tecnologia"/>
             Tecnologia
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="atividade" value="Trabalho"/>
             Trabalho
           </label>
         </li>

         </ul>
     </li>


     <li>
       <h4>
         Com qual <strong>Público Alvo</strong> o <strong>Projeto</strong> é
         desenvolvido?*
       </h4>
       <ul>
         <li class="subForm">
           <p>Sob aspectos de <strong>Faixa Etária</strong></p>
           <ul>
             <li>
               <label>
                 <input type="checkbox" name="publico_alvo" value="Criancas" />
                 Crianças
               </label>
             </li>

             <li>
               <label>
                 <input type="checkbox" name="publico_alvo" value="Adolescentes"/>
                 Adolescentes
               </label>
             </li>

             <li>
               <label>
                 <input type="checkbox" name="publico_alvo" value="Adultos"/>
                 Adultos
               </label>
             </li>

             <li>
               <label>
                 <input type="checkbox" name="publico_alvo" value="Jovens"/>
                 Jovens
               </label>
             </li>
           </ul>
         </li>

         <li class="subForm">
           <p>Sob aspectos das <strong>Culturas Tradicionais</strong></p>
           <ul>
             <li>
               <label>
                 <input type="checkbox" name="culturas_tradicionais" value="Quilombola"/>
                 Quilombola
               </label>
             </li>

             <li>
               <label>
                 <input type="checkbox" name="culturas_tradicionais" value="Pomerano"/>
                 Pomerano
               </label>
             </li>

             <li>
               <label>
                 <input type="checkbox" name="culturas_tradicionais" value="Caiçara"/>
                 Caiçara
               </label>
             </li>

             <li>
               <label>
                 <input type="checkbox" name="culturas_tradicionais" value="Indígena"/>
                 Indígena
               </label>
             </li>

             <li>
               <label>
                 <input type="checkbox" name="culturas_tradicionais" value="Cigana"/>
                 Cigana
               </label>
             </li>

             <li>
               <label>
                 <input type="checkbox" name="culturas_tradicionais" value="Povos da floresta"/>
                 Povos da Floresta
               </label>
             </li>

             <li>
               <label>
                 <input type="checkbox" name="culturas_tradicionais" value="Ribeirinhos"/>
                 Ribeirinhos
               </label>
             </li>


           </ul>
         </li>


         <li class="subForm">
           <p>Sob aspectos de <strong>Ocupação do Meio</strong></p>
           <ul>
             <li>
               <label>
                 <input type="checkbox" name="ocupacao_do_meio" value="Rural"/>
                 Rural
               </label>
             </li>

             <li>
               <label>
                 <input type="checkbox" name="ocupacao_do_meio" value="Urbano"/>
                 Urbano
               </label>
             </li>
           </ul>
         </li>


         <li class="subForm">
           <p>Sob aspectos de <strong>Gênero</strong></p>
           <ul>
             <li>
               <label>
                 <input type="checkbox" name="genero" value="Mulheres"/>
                 Mulheres
               </label>
             </li>

             <li>
               <label>
                 <input type="checkbox" name="genero" value="Homens"/>
                 Homens
               </label>
             </li>

             <li>
               <label>
                 <input type="checkbox" name="genero" value="LGBT"/>
                 LGBT
               </label>
             </li>
           </ul>
         </li>
       </ul>
     </li>

     <li class="subForm">
       <p>
         Quais são as Manifestações e Linguagens que o Projeto utiliza em
         suas atividades?
         <em class="helpText">Responda mais de uma se necessário!</em>
       </p>
       <ul>
         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Artes digitais"/>
             Artes digitais
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Artes plásticas"/>
             Artes plásticas
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Audiovisual"/>
             Audiovisual
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Circo"/>
             Circo
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Culinária"/>
             Culinária
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Dança"/>
             Dança
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Fotografia"/>
             Fotografia
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Grafite"/>
             Grafite
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Internet"/>
             Internet
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Jornalismo"/>
             Jornalismo
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Literatura"/>
             Literatura
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Música"/>
             Música
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Rádio"/>
             Rádio
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Teatro"/>
             Teatro
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Tecnologias digitais"/>
             Tecnologias digitais
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Tradição oral"/>
             Tradição oral
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="TV"/>
             TV
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="outras_manifestacoes"/>
             Outras
           </label>
         </li>
       </ul>
     </li>

     <li class="subForm">
       <p>
         O <strong>Projeto</strong> participa de alguma <strong>Ação</strong>
         do <strong>Programa Cultura Viva?</strong>*
       </p>
       <ul>
         <li>
           <label>
             <input type="radio" name="participa_cultura_viva" value="sim"/>
             Sim
           </label>
         </li>

         <li>
           <label>
             <input type="radio" name="participa_cultura_viva" value="nao"/>
             Não
           </label>
         </li>
       </ul>
     </li>

     <li id="participa_cultura_viva_sim" class="displayNone">
       <p>
         Qual(is)?
         <em class="helpText">Responda mais de uma se necessário!</em>
       </p>
       <ul>
         <li>
           <label>
             <input type="checkbox" name="acao_cultura_viva" value="Agente cultura viva"/>
             Agente Cultura Viva
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="acao_cultura_viva" value="Cultura digital"/>
             Cultura Digital
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="acao_cultura_viva" value="Cultura e saúde"/>
             Cultura e Saúde
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="acao_cultura_viva" value="Economia viva"/>
             Economia Viva
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="acao_cultura_viva" value="Escola viva"/>
             Escola Viva
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="acao_cultura_viva" value="Grios"/>
             Grios
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="acao_cultura_viva" value="Interacoes estéticas"/>
             Interações Estéticas
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="acao_cultura_viva" value="Mídias livres"/>
             Mídias Livres
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="acao_cultura_viva" value="Pontinho de cultura"/>
             Pontinho de Cultura
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="acao_cultura_viva" value="Pontos de memoria"/>
             Pontos de memória
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="acao_cultura_viva" value="Redes indígenas"/>
             Redes Indígenas
           </label>
         </li>

         <li>
           <label>
             <input type="checkbox" name="acao_cultura_viva" value="Tuxaua"/>
             Tuxaua
           </label>
         </li>
       </ul>
     </li>

     <li class="subFormDesc">
       <label for="descricao" class="ldescricao">
         Descrição breve sobre as atividades do Projeto
       </label>
       <textarea
          name="descricao" id="descricao"
          placeholder="Descreve aspectos relevantes do Projeto que gostaria de ressaltar..."></textarea>
     </li>

     <li>
       <ul class="telefones subForm">
         <li class="bottomBorder">
           <label>
             Upload de Plano de trabalho e documentações do Projeto
             <input type="file" name="documentacoes"/>
           </label>
         </li>
       </ul>
       <input
          type="button" value="Outro arquivo"
          onclick="novaDocumentacao ($('.telefones', $(this).parent()));"/>
     </li>
   </ol>
 </li><!-- Atividades exercidas pelo projeto -->
