<li id="contatosEspacoRede" style="display: none;">
  <h3>Contatos e Espaços na rede</h3>
  <ol class="section">
    <li>
      <ul class="telefones subForm" id="proj_tel">
        <li class="bottomBorder">
          <label>Telefone</label>
          <input type="text" name="proj_tel" placeholder="DDD + Fone"/>
          <span style="display: none;"> <form:error name="proj_tel" format="escapenl"></span>
        </li>
      </ul>
      <input
         type="button" value="Outro telefone"
         onclick="novoTelefone ($('.telefones', $(this).parent()), 'proj');"/>
    </li>

    <li>
      <label for="email_proj">Email*</label>
      <input
         type="text" name="email_proj" id="email_proj" class="required"
         placeholder="Digite o endereço de e-mail do Projeto. Ex.: pcvilapangeia@cultura.org.br"/>
    </li>

    <li>
      <label for="website_proj">Website</label>
      <input
         type="text" name="website_proj" id="website_proj"
         placeholder="Digite o endereço do site do Projeto. Ex.: www.pcvilapangeia.com.br"/>
    </li>

    <li>
      <label for="frequencia">Frequência de Radio Transmissor</label>
      <input type="text" name="frequencia" id="frequencia"/>
    </li>

  </ol><!-- Contatos e espaços na rede -->
</li>
