<li id="dadosProjeto"  style="display: none;">
  <h3>Dados do projeto</h3>
  <ol class="section">
    <li>
      <label for="nome">Nome completo do projeto*</label>
      <input
         type="text" name="nome" id="nome" class="required"
         placeholder="Nome completo do Projeto:"/>
    </li>
    <li>
      <label for="tipo">Seu projeto é*</label>
      <select id="tipo" name="tipo"  class="required">
        <option></option>
        <option value="ponto">Ponto</option>
        <option value="pontao">Pontão</option>
        <option value="iniciativa_premiada">Iniciativa Premiada</option>
      </select>
    </li>
    <li>
      <label for="tipo_convenio">Qual tipo de convênio?*</label>
      <select id="tipo_convenio" name="tipo_convenio" class="required">
        <option></option>
        <option value="internacional">Internacional</option>
        <option value="federal">Federal</option>
        <option value="estadual">Estadual</option>
        <option value="municipal">Municipal</option>
      </select>
    </li>
    <li>
      <label for="numero_convenio">Número do convênio do projeto*</label>
      <input
         type="text" name="numero_convenio" id="numero_convenio" class="required"
         placeholder="Ex.: 329000139567"/>
      <em class="helpText">
        <a href="#">Onde eu encontro meu número de convênio?</a>
      </em>
    </li>
  </ol>
</li>
