{% import "utils/macros.html" as macros %}

<div class="step" id="dadosProjeto">
  <div class="main">
    <ul>
      <li>
        <label for="nome">Nome completo do projeto: *</label>
        <input
           type="text" name="nome" id="nome" class="textarea large required"
           maxlength="100" />
      </li>

      <li>
        <label for="descricao">Descrição breve sobre as
        atividades do Projeto: *</label>
        <textarea rows="8" cols="80" id="descricao" name="descricao"
        class="required textarea large"></textarea>
      </li>

      <li>
        <label for="project_logo">Marca ou imagem: 
        <span>(opcional)</span></label>
        <input type="file" id="avatar" name="avatar">
      </li>

      <li>
        <label for="tipo">Seu projeto é: *</label>
        <select id="tipo" name="tipo"  class="required">
          <option></option>
          <option value="ponto">Ponto</option>
          <option value="pontao">Pontão</option>
          <option value="iniciativa_premiada">Iniciativa Premiada</option>
        </select>
      </li>
      <li>
        <label for="tipo_convenio">Qual tipo de convênio? *</label>
        <select id="tipo_convenio" name="tipo_convenio" class="required">
          <option></option>
          <option value="internacional">Internacional</option>
          <option value="federal">Federal</option>
          <option value="estadual">Estadual</option>
          <option value="municipal">Municipal</option>
        </select>
      </li>
      <li>
        <label for="numero_convenio">Número de convênio do projeto: *</label>
        <input
           type="text" name="numero_convenio" id="numero_convenio"
           class="required textarea" size="45" />
      </li>

      <li class="subForm">
        <label for="partnership">
          O Projeto participa de alguma Ação do Programa Cultura Viva? *
        </label>
        <input type="radio" name="participa_cultura_viva" value="" class="required" style="display: none;" />
        <label class="radio required">
         <input type="radio" name="participa_cultura_viva" value="sim" />
         Sim
         </label>
        </label>
        <label class="radio">
         <input type="radio" name="participa_cultura_viva" value="nao"/>
         Não
        </label>
      </li>

      <li class="subbodyfooter" id="participa_cultura_viva_sim">
        <div>
          <input type="checkbox" name="acao_cultura_viva" value="" style="display: none;" />
        </div>
        <div style="margin-bottom: 20px;">
          <label>
            Qual(is)?
            <em class="helptext">Responda mais de uma se necessário!</em>
          </label>
        </div>
        {{ macros.make_checkbox_list('acao_cultura_viva', cadastro.ACAO_CULTURA_VIVA, 3, False) }}
      </li>

      <li>
        <label>O Projeto estabeleceu Parcerias?*</label>
        <input type="radio" name="estabeleceu_parcerias" value="" class="required" style="display: none;" />
        <label class="radio">
          <input type="radio" name="estabeleceu_parcerias" value="sim"/>
          Sim
        </label>
        <label class="radio">
          <input type="radio" name="estabeleceu_parcerias" value="nao"/>
          Não
        </label>
      </li>


      <li class="subbodyfooter" id="parcerias_sim">
        <div>
          <input type="checkbox" name="parcerias" value="" style="display: none;" />
        </div>
        <div style="margin-bottom: 20px;">
          <label>
            Com qual(quais) parceiro(s)?
            <em class="helptext">Responda mais de uma se necessário!</em>
          </label>
        </div>
        {{ macros.make_checkbox_list('parcerias', cadastro.PARCERIAS, 3, False) }}
        <div class="clear"></div>
        <div id="outro_parceiro_block" class="hidden">
          <label>
            Outros parceiros:
            <a href="javascript: novoParceiro($('#outro_parceiro'));" class="add">Adicionar novo Parceiro</a>          
          </label>
          <ul class="novosparceiros">
            <li>
              <input type="text" name="outro_parceiro" id="outro_parceiro" class="required textarea" />
            </li>

          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

