<div class="step" id="entidadeProponente">
  <div class="main">
    <ul>
      <li>
        <label for="nome_ent">Nome Completo da Entidade: *</label>
        <input type="text" name="nome_ent" id="nome_ent" class="required textarea large" />
      </li>

      <li>
        <label for="email_ent">Email:</label>
        <input
           type="text" name="email_ent" id="email_ent" class="textarea large email" />
      </li>

      <li>
        <label for="website_ent">Website:</label>
        <input
           type="text" name="website_ent" id="website_ent" class="textarea large url" />
      </li>

      <li id="ent_tel">
        <ul class="telefones">
          <li>
            <label>Telefone:</label>
            <input type="text" name="ent_tel" class="textarea phone" placeholder="(00) 0000-0000" />
            <a href="javascript: novoTelefone ($('.telefones', '#ent_tel'), 'ent');" class="add">Adicionar outro número</a>
          </li>
        </ul>
        <label class="error" generated="true" style="display: none;"><form:error name="ent_tel" format="escapenl"></label>
      </li>

      <li>
        <label>
          A entidade possui outro convênio com o programa Cultura Viva?
        </label>
        <input type="radio" name="convenio_ent" value="" class="required" style="display: none;" />
        <label class="radio">
          <input type="radio" name="convenio_ent" value="sim"/>
          Sim
        </label>
        <label class="radio">
          <input type="radio" name="convenio_ent" value="nao"/>
          Não
        </label>
      </li>

      <li id="convenio_ent_sim">
        <ul class="telefones subForm">
          <li>
            <label>Qual?</label>
            <input type="text" name="outro_convenio" class="required textarea" />
            <a href="javascript: novoConvenio ($('.telefones', '#convenio_ent_sim'))" class="add">Outro convenio...</a>
          </li>
        </ul>
      </li>
      
      <li>
        <label>
          O endereço da Entidade é o mesmo endereço do Projeto?*
        </label>
        <input type="radio" name="endereco_ent_proj" value="" class="required" style="display: none;" />
        <label class="radio">
          <input type="radio" name="endereco_ent_proj" value="sim" class="required" />
          Sim
        </label>
        <label class="radio">
          <input type="radio" name="endereco_ent_proj" value="nao" class="required" />
          Não
        </label>
      </li>


      <li class="subbodyfooter" id="endereco_ent_proj_nao">
        <ul>
          <li>
            <label for="end_ent_cep">CEP: *</label>
            <input
                type="text" name="end_ent_cep" id="end_ent_cep" class="required textarea cep"
                onblur="cepWebService(this.value, $('#novoProjeto')[0], 'end_ent');"/>
          </li>
          <li>
            <label for="end_ent_logradouro">Logradouro: *</label>
            <input
                type="text" name="end_ent_logradouro"
                id="end_ent_logradouro" class="required textarea large" />
          </li>

          <li>
            <div class="column">
              <label for="end_ent_complemento">Complemento: </label>
              <input
                  type="text" name="end_ent_complemento"
                  class="textarea complement" id="end_ent_complemento" />
            </div>
            <div class="column last">
              <label for="end_ent_numero">Número: *</label>
              <input
                  type="text" name="end_ent_numero" id="end_ent_numero"
                  class="required textarea number" />
            </div>        
          </li>

          <li>
            <div class="column">
              <label for="end_ent_bairro">Bairro: *</label>
              <input type="text" name="end_ent_bairro" id="end_ent_bairro" class="required textarea district" />
            </div>
            <div class="column">
              <label for="end_ent_cidade">Cidade: *</label>
              <input type="text" name="end_ent_cidade" id="end_ent_cidade" class="required textarea city" />
              
            </div>
            <div class="column last">
              <label for="end_ent_uf">UF: *</label>
              <select name="end_ent_uf" id="end_ent_uf" class="required state">
                <option></option>
                {% for uf in vals_uf %}
                <option value="{{ uf }}">{{ uf }}</option>
                {% endfor %}
              </select>
            </div>
          </li>

          <li>
            <div class="column">
              <label for="end_ent_latitude">Latitude: *</label>
              <input
                  type="text" name="end_proj_latitude"
                  id="end_ent_latitude" class="textarea" />
            </div>
            <div class="column last">
              <label for="end_ent_longitude">Longitude: *</label>
              <input
                  type="text" name="end_ent_longitude"
                  id="end_ent_longitude" class="textarea" />
            <div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
