<li id="entidadeProponente" style="display: none;">
  <h3>Entidade Proponente</h3>
  <ol class="section">
    <li>
      <label for="nome_ent">Nome Completo da Entidade*</label>
      <input
         type="text" name="nome_ent" id="nome_ent" class="required"
         placeholder="Ponto de Cultura Vila Pangéia"/>
    </li>

    <li>
      <label>
        O endereço da Entidade é o mesmo endereço do Projeto?*
      </label>
      <ul>
        <li>
          <label>
            <input
                type="radio" name="endereco_ent_proj" value="sim" class="required" />
            Sim
          </label>
        </li>

        <li>
          <label>
            <input
                type="radio" name="endereco_ent_proj" value="nao" class="required" />
            Não
        </label>
        </li>
      </ul>
    </li>

    <div id="endereco_ent_proj_nao" class="displayNone">
      <li class="subForm">
        <h4>Endereço da Entidade</h4>

        <div class="formEndereco">
          <ul>
            <li>
              <label for="end_ent_cep">CEP*</label>
              <input
                  type="text" name="end_ent_cep" id="end_ent_cep" class="required"
                  onblur="cepWebService (this.value);"/>
              <em class="helpText">
                <a href="#">Não sabe o seu CEP?</a>
              </em>
            </li>

            <li>
              <label for="end_ent_numero">Número*</label>
              <input
                  type="text" name="end_ent_numero" id="end_ent_numero" class="required"
                  placeholder="Ex.: 202"/>
            </li>

            <li>
              <label for="end_ent_logradouro">Logradouro*</label>
              <input
                 type="text" name="end_ent_logradouro"
                 id="end_ent_logradouro" class="required"
                 placeholder="Digite o nome de sua rua, Al., Av., Viela, etc. Ex.: Rua Lírios"/>
            </li>

            <li>
              <label for="end_ent_complemento">Complemento</label>
              <input
                  type="text" name="end_ent_complemento"
                  id="end_ent_complemento" placeholder="Ex.: B"/>
            </li>

            <li>
              <label>UF*</label>
              <select name="end_ent_uf" id="end_ent_uf" class="required">
                <option></option>
                {% for uf in vals_uf %}
                <option value="{{ uf }}">{{ uf }}</option>
                {% endfor %}
              </select>
            </li>

            <li>
              <label for="end_ent_cidade">Cidade*</label>
              <input
                  type="text" name="end_ent_cidade" id="end_ent_cidade" class="required"
                  placeholder="Ex.: Salvador"/>
            </li>

            <li>
              <label for="end_ent_bairro">Bairro*</label>
              <input
                  type="text" name="end_ent_bairro" id="end_ent_bairro" class="required"
                  placeholder="Ex.: Vila das Flores"/>
            </li>

            <li>
              <label for="end_ent_latitude">Latitude*</label>
              <input
                  type="text" name="end_ent_latitude" id="end_ent_latitude" class="required"
                  placeholder="Ex.: + 23146940000"/>
            </li>

            <li class="bottomBorder">
              <label for="end_ent_longitude">Longitude*</label>
              <input
                  type="text" name="end_ent_longitude" class="required"
                  id="end_ent_longitude" placeholder="Ex.: - 234559898332"/>
            </li>
          </ul>
        </div>
      </li>
    </div>

    <li>
      <ul class="telefones subForm"  id="ent_tel">
        <li class="bottomBorder">
          <label>Telefone</label>
          <input type="text" name="ent_tel" placeholder="DDD + Fone"/>
        </li>
      </ul>
      <input
         type="button" value="Outro telefone"
         onclick="novoTelefone ($('.telefones', $(this).parent()), 'ent');"/>
      <span style="display: none;"> <form:error name="ent_tel" format="escapenl"></span>
    </li>

    <li>
      <label for="email_ent">Email</label>
      <input
         type="text" name="email_ent" id="email_ent"
         placeholder="Ex.: pcvilapangeia@cultura.org.br"/>
    </li>

    <li>
      <label for="website_ent">Website</label>
      <input
         type="text" name="website_ent" id="website_ent"
         placeholder="www.pcvilapangeia.com.br"/>
    </li>

    <li>
      <label>
      A entidade possui outro convênio com o programa Cultura Viva?
      </label>
      <ul>
        <li>
          <label>
            <input type="radio" name="convenio_ent" value="sim"/>
            Sim
          </label>
        </li>

        <li>
          <label>
            <input type="radio" name="convenio_ent" value="nao"/>
            Não
          </label>
        </li>
      </ul>
    </li>

    <li id="convenio_ent_sim" class="displayNone">
      <ul class="telefones subForm">
        <li class="bottomBorder">
          <label>
          Qual?
          <input
              type="text" name="outro_convenio"
              placeholder="Ex.: Pontão Vila Pangéia"/>
          </label>
        </li>
      </ul>
      <input class="sub" type="button" value="Outro convenio"
             onclick="novoConvenio ($('.telefones', $(this).parent()));"/>
    </li>
  </ol>
</li><!-- Entidade Proponente -->
