<li id="indiceAcessoCultura" style="display: none;">
  <h3>Índice de Acesso à Cultura</h3>
  <ol class="section">
    <li class="subForm">
    <li>
      <label for="ind_oficinas">Oficinas</label>
      <input type="text" name="ind_oficinas" id="ind_oficinas"/>
    </li>

    <li>
      <label for="ind_expectadores">Número de expectadores</label>
      <input
         type="text" name="ind_expectadores" id="ind_expectadores"/>
    </li>

    <li>
      <label for="ind_populacao">
        População atendida pelo Projeto
      </label>
      <input type="text" name="ind_populacao" id="ind_populacao"/>
    </li>

    <li>
      Índice Cultura = X
    </li>

  </ol>
</li>
