{% import "utils/macros.html" as macros %}

<div class="step" id="localizacaoGeoProjeto">
  <div class="main">
    <ul>
      <li>
        <label for="end_proj_cep">CEP: *</label>
        <input
            type="text" name="end_proj_cep" id="end_proj_cep" class="required textarea cep"
            onblur="cepWebService(this, $('#novoProjeto')[0], 'end_proj');"/>
      </li>
      <li>
        <label for="end_proj_logradouro">Logradouro: *</label>
        <input
            type="text" name="end_proj_logradouro"
            id="end_proj_logradouro" class="required textarea large" />
      </li>

      <li>
        <div class="column">
          <label for="end_proj_numero">Número: *</label>
          <input
              type="text" name="end_proj_numero" id="end_proj_numero"
              class="required textarea number" />
        </div>        
        <div class="column">
          <label for="end_proj_complemento">Complemento: </label>
          <input
              type="text" name="end_proj_complemento"
              class="textarea complement" id="end_proj_complemento" />

        </div>
        <div class="column last">
          <label for="end_proj_bairro">Bairro: *</label>
          <input
              type="text" name="end_proj_bairro" id="end_proj_bairro" class="required textarea district" />
        </div>
      </li>


      <li>
        <div class="column">
          <label for="end_proj_cidade">Cidade: *</label>
          <input type="text" name="end_proj_cidade" id="end_proj_cidade" class="required textarea city big" />
        </div>
        <div class="column last">
          <label for="end_proj_uf">UF: *</label>
          <select name="end_proj_uf" id="end_proj_uf" class="required medium">
            <option></option>
            {{ macros.make_select_options(cadastro.VALORES_UF) }}
          </select>
        </div>
      </li>

      <li>
        <div class="column">
          <label for="end_proj_latitude">Latitude:</label>
          <input
              type="text" name="end_proj_latitude"
              id="end_proj_latitude" class="textarea" />
        </div>
        <div class="column last">
          <label for="end_proj_longitude">Longitude:</label>
          <input
              type="text" name="end_proj_longitude"
              id="end_proj_longitude" class="textarea" />
        <div>
      </li>
      <li>
        <label for="local_proj">Onde o seu projeto ocorre? *</label>
        <select name="local_proj" id="local_proj" class="required">
          <option></option>
          <option value="sede">Sede</option>
          <option value="itinerante">Itinerante</option>
          <option value="outros">Outros locais</option>
        </select>
        <!-- <em class="helpText">Cadastre outros endereços abaixo</em> -->
      </li>

      <li class="subbody" id="local_proj_outros">
        <ul>
          <li>
            <label for="end_outro_nome">Nome do local</label>
            <input
                type="text" name="end_outro_nome" id="end_outro_nome"
                class="required textarea"
                onblur="javascript:atualizarEnderecos ();"/>
          </li>
          <li>
            <label for="end_outro_cep">CEP: *</label>
            <input
                type="text" name="end_outro_cep" id="end_outro_cep" class="required textarea cep"
                onblur="cepWebService(this, $('#novoProjeto')[0], 'end_outro');"/>
          </li>
          <li>
            <label for="end_outro_logradouro">Logradouro: *</label>
            <input
                type="text" name="end_outro_logradouro"
                id="end_outro_logradouro" class="required textarea large" />
          </li>

          <li>
            <div class="column">

              <label for="end_outro_numero">Número: *</label>
              <input
                  type="text" name="end_outro_numero" id="end_outro_numero"
                  class="required textarea number" />
            </div>        
            <div class="column">
              <label for="end_outro_complemento">Complemento: </label>
              <input
                  type="text" name="end_outro_complemento"
                  class="textarea complement" id="end_outro_complemento" />

            </div>
            <div class="column last">
              <label for="end_outro_bairro">Bairro: *</label>
              <input
                  type="text" name="end_outro_bairro" id="end_outro_bairro" class="required textarea district big" />
            </div>

          </li>



          <li>
            <div class="column">
              <label for="end_outro_cidade">Cidade: *</label>
              <input
                  type="text" name="end_outro_cidade" id="end_outro_cidade" class="required textarea city big" />
              
            </div>
            <div class="column last">
              <label for="end_outro_uf">UF: *</label>
              <select name="end_outro_uf" id="end_outro_uf" class="required state medium">
                <option></option>
                {{ macros.make_select_options(cadastro.VALORES_UF) }}
              </select>
            </div>
          </li>

          <li>
            <div class="column">
              <label for="end_outro_latitude">Latitude: *</label>
              <input
                  type="text" name="end_outro_latitude"
                  id="end_outro_latitude" class="textarea" />
            </div>
            <div class="column last">
              <label for="end_outro_longitude">Longitude: *</label>
              <input
                  type="text" name="end_outro_longitude"
                  id="end_outro_longitude" class="textarea" />
            <div>
          </li>
        </ul>
      </li>
      <li class="subfooter" id="local_proj_outros_novo">
          <input class="sub" type="button" value="Outro endereço"
           onclick="novoEndereco ();"/>
      </li>
    </ul>
  </div>
</div>
