{% set selected = "projetos" %}
{% extends 'base.html' %}

{% block extra_head %}
<link
   rel="stylesheet" type="text/css"
   href="{{ url_for('.static', filename='css/usuarios.novo.css') }}">
<link
   rel="stylesheet" type="text/css"
   href="{{ url_for('.static', filename='css/projetos.novo.css') }}">
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/inc/jquery.js') }}"></script>
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/inc/jquery.validate.js') }}">
</script>
  <script
     type="text/javascript"
     src="{{ url_for('.static', filename='js/inc/jquery.form.js') }}">
  </script>

<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/geral.novo.js') }}"></script>
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/projetos.novo.js') }}"></script>
{% endblock %}

{% block content %}
<h2>Cadastro de projetos</h2>

<form id="novoProjeto" method="post" action=".">

  {% include "projetos/novo/dadosprojeto.html" %}
  {% include "projetos/novo/localizacaogeoprojeto.html" %}
  {% include "projetos/novo/contatosespacorede.html" %}
  {% include "projetos/novo/comunicacaoculturadigital.html" %}
  {% include "projetos/novo/entidadeproponente.html" %}
  {% include "projetos/novo/atividadesexercidasprojeto.html" %}
  {% include "projetos/novo/parceriasprojeto.html" %}
  {% include "projetos/novo/indiceacessocultura.html" %}
  {% include "projetos/novo/avatar.html" %}

  <div id="fimDoFormulario"> </div>
  <div class="botaoEnviar">
    <input type="button" value="Anterior" onclick="anterior()" id="botaoAnterior"  style="display: none;" />
    <input type="button" value="Próximo" onclick="proximo()"  id="botaoProximo" />
    <input type="submit" value="Efetuar o cadastro" id="submitButton" style="display: none;" />
  </div>

</form>

<script type="text/javascript">

//var currentTab = "dadosProjeto";
var currentTab = "localizacaoGeoProjeto";
var inicio = "dadosProjeto";
var fim = "avatar";

$("#"+currentTab).css("display", "block");

</script>


{% endblock %}

