{% set selected = "projetos" %}
{% extends 'base.html' %}

{% block extra_head %}

<link
   rel="stylesheet" type="text/css" media="all"
   href="{{ url_for('.static', filename='css/register.css') }}">
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/inc/jquery.js') }}"></script>

<script src="{{ url_for('.static', filename='js/inc/jquery-1.4.4.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/inc/jquery.maskedinput-1.2.2.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/inc/jquery.validate.fixed-0.1.js') }}"></script>
<script src="{{ url_for('.static', filename='js/forms.js') }}"></script>

<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/inc/jquery.form.js') }}">
</script>

<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/geral.novo.js') }}"></script>
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/validator.methods.js') }}"></script>
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/projetos.novo.js') }}"></script>
{% endblock %}

{% block bodyclass %}project_register{% endblock %}

{% block contenttitle %}<h2>{{ title }}</h2>{% endblock %}

{% block contenthead %}

<ul class="steps" id="headsteps">
  <li class="dadosProjeto active">Dados</li>
  <li class="localizacaoGeoProjeto">Endereço</li>
  <li class="entidadeProponente">Entidade</li>
  <li class="comunicacaoCulturaDigital">Comunicação</li>
  <li class="atividadesExercidasProjeto">Atividades</li>
  <li class="publico">Público</li>
  <li class="indiceAcessoCultura">Índice</li>
</ul>
  
{% endblock %}

{% block content %}  

<div class="ajaxsplash" id="ajaxsplash">
</div>

<div id="fileaux" class="hidden"></div>

<form id="novoProjeto" method="post" enctype="multipart/form-data" action=".">

  <div>
    {% include "projetos/novo/dadosprojeto.html" %}
    {% include "projetos/novo/localizacaogeoprojeto.html" %}
    {% include "projetos/novo/entidadeproponente.html" %}
    {% include "projetos/novo/comunicacaoculturadigital.html" %}
    {% include "projetos/novo/atividadesexercidasprojeto.html" %}
    {% include "projetos/novo/publico.html" %}
    {% include "projetos/novo/indiceacessocultura.html" %}
  </div>
  
  <div id="project_index" class="step">
    <div class="main">
      <div class="buttons">
      </div>
    </div><!-- .main -->
  </div>
  <input type="hidden" name="step" value="entidadeProponente" />
  <input type="hidden" name="edit" value="{{ edit }}" />
  <input type="hidden" name="projeto_id" value="{{ projeto_id }}" />
</form>


<script type="text/javascript">

var currentTab = "dadosProjeto";
//var currentTab = "localizacaoGeoProjeto";
var inicio = "dadosProjeto";
var fim = "avatar";

$("#"+currentTab).css("display", "block");

{% if dynamic_values %}
var DYNAMIC_VALUES = {% autoescape off %}{{ dynamic_values }}{% endautoescape %};
{% else %}
var DYNAMIC_VALUES = null;
{% endif %}

{% if edit %}
var EDIT = {{ edit }};
var PROJETO_ID = {{ projeto_id }};
{% else %}
var EDIT = null;
var PROJETO_ID = null;
{% endif %}

</script>


{% endblock %}

{% block sidebar %}
  <div class="hidden" id="dadosProjetoTip">
    <div class="tip" >
      <p>Fale um pouco sobre seu projeto na descrição,
      é importante.</p>
      <h3>Onde eu encontro meu número de convênio?</h3>
      <p>There are many variantions of passages of lorem ipsum
      available, but the majority have suffered alteration in some
      form, by injected humour, or randomised words wich don't look
      even slightly believable.</p>
    </div>
  </div>

  <div class="hidden" id="localizacaoGeoProjetoTip">  
    <div class="tip" id="localizacaoGeoProjetoTip">
      <p>Digite seu cep e clique em "verificar CEP" e o sistema
      completará o seu endereço automaticamente.</p>
      <p>Não sabe seu CEP? <a href="#">Descubra aqui.</a></p>
    </div>
  </div>

  <div class="hidden" id="comunicacaoCulturaDigitalTip">
    <div class="tip">
      <p>O espaço na rede são redes sociais, o seu site, blogs
      que você participa.</p>
      <p>Dados opcionais.</p>
      <p>Digite o nome do site, Ex. Meu perfil no orkut ou Minha
      conta no Twitter.</p>
      <p>Cole a URL (endereço do seu perfil ou site)</p>
    </div>
  </div>


  
{% endblock %}

