<li id="parceriasProjeto" style="display: none;">
  <h3>Parcerias do Projeto</h3>
  <ol class="section">
    <li>
      <label>O Projeto estabeleceu Parcerias?*</label>
      <ul>
        <li>
          <label class="radio">
            <input type="radio" name="estabeleceu_parcerias" value="sim"/>
            Sim
          </label>
        </li>

        <li>
          <label class="radio">
            <input type="radio" name="estabeleceu_parcerias" value="nao"/>
            Não
          </label>
        </li>
      </ul>
    </li>

    <div id="parcerias_sim" class="displayNone">
      <li class="subForm formCinza">
        Com qual(quais) parceiro(s)?
        <ul>
          <li>
            <label>
              <input type="checkbox" name="parcerias" value="Biblioteca"/>
              Biblioteca
            </label>
          </li>

          <li>
            <label>
              <input type="checkbox" name="parcerias" value="Empresa"/>
              Empresa
            </label>
          </li>

          <li>
            <label>
              <input type="checkbox" name="parcerias" value="Equipamento de saúde"/>
              Equipamento de Saúde
            </label>
          </li>

          <li>
            <label>
              <input type="checkbox" name="parcerias" value="Escola"/>
              Escola
            </label>
          </li>

          <li>
            <label>
              <input type="checkbox" name="parcerias" value="Igreja"/>
              Igreja
            </label>
          </li>

          <li>
            <label>
              <input type="checkbox" name="parcerias" value="ONG"/>
              ONG
            </label>
          </li>

          <li>
            <label>
              <input type="checkbox" name="parcerias" value="Poder público"/>
              Poder público
            </label>
          </li>

          <li>
            <label>
              <input type="checkbox" name="parcerias" value="Pontos de memória"/>
              Pontos de Memória
            </label>
          </li>

          <li>
            <label>
              <input type="checkbox" name="parcerias" value="Redes indígenas"/>
              Redes Indígenas
            </label>
          </li>

          <li>
            <label>
              <input type="checkbox" name="parcerias" value="Sistema S"/>
              Sistema S (Sesc, Senai, Senac, etc)
            </label>
          </li>

          <li>
            <label>
              <input type="checkbox" name="parcerias" value="Tuxaua"/>
              Tuxaua
            </label>
          </li>

          <!--
          <li>
            <label>
              <input type="checkbox" name="outros_parceiros"/>
              Outros.
            </label>
            <label for="quais_outros_parceiros">Quais?</label>
            <input
                type="text" name="quais_outros_parceiros"
                id="quais_outros_parceiros"/>
          </li>
          -->
        </ul>
      </li>

      <li>
        <ul class="telefones subForm">

        </ul>
        <input type="button" value="Outro parceiro"
               onclick="novoParceiro ($('.telefones', $(this).parent()));"/>
      </li>
    </div>
  </ol>
</li>
