<div class="step" id="publico">
  <div class="main">
    <h3>Com qual Público Alvo o Projeto é desenvolvido? *</h3>
    <ul>
      <li>
        <p>Sob aspectos de <strong>Faixa Etária</strong></p>
        <div>
          <input type="checkbox" name="publico_alvo" value="" style="display: none;" />
        </div>
        <div class="column">
          <ul>
            <li>
             <label>
               <input type="checkbox" name="publico_alvo" value="Criancas" />
               Crianças
             </label>
            </li>
          </ul>
        </div>
        <div  class="column">
          <ul>
            <li>
             <label>
               <input type="checkbox" name="publico_alvo" value="Adolescentes"/>
               Adolescentes
             </label>
            </li>
          </ul>
        </div>
        <div  class="column">
          <ul>
            <li>
             <label>
               <input type="checkbox" name="publico_alvo" value="Adultos"/>
               Adultos
             </label>
            </li>
          </ul>
        </div>
        <div  class="column last">
          <ul>
            <li>
             <label>
               <input type="checkbox" name="publico_alvo" value="Jovens"/>
               Jovens
             </label>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <p>Sob aspectos das <strong>Culturas Tradicionais</strong></p>
        <div class="column">
          <ul>
            <li>
             <label>
               <input type="checkbox" name="culturas_tradicionais" value="Quilombola"/>
               Quilombola
             </label>
            </li>

            <li>
             <label>
               <input type="checkbox" name="culturas_tradicionais" value="Pomerano"/>
               Pomerano
             </label>
            </li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li>
             <label>
               <input type="checkbox" name="culturas_tradicionais" value="Caiçara"/>
               Caiçara
             </label>
            </li>

            <li>
             <label>
               <input type="checkbox" name="culturas_tradicionais" value="Indígena"/>
               Indígena
             </label>
            </li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li>
             <label>
               <input type="checkbox" name="culturas_tradicionais" value="Cigana"/>
               Cigana
             </label>
            </li>

            <li>
             <label>
               <input type="checkbox" name="culturas_tradicionais" value="Ribeirinhos"/>
               Ribeirinhos
             </label>
            </li>

          </ul>
        </div>
        <div class="column last">
          <ul>
            <li>
             <label>
               <input type="checkbox" name="culturas_tradicionais" value="Povos da floresta"/>
               Povos da Floresta
             </label>
            </li>
          </ul>
        </div>
      </li>


      <li class="subForm">
        <p>Sob aspectos de <strong>Ocupação do Meio</strong></p>
        <div class="column">
          <ul>
            <li>
             <label>
               <input type="checkbox" name="ocupacao_do_meio" value="Rural"/>
               Rural
             </label>
            </li>
          </ul>
        </div>
        <div class="column last">
          <ul>
            <li>
             <label>
               <input type="checkbox" name="ocupacao_do_meio" value="Urbano"/>
               Urbano
             </label>
            </li>
          </ul>
        </div>
      </li>


      <li class="subForm">
        <p>Sob aspectos de <strong>Gênero</strong></p>
        <div class="column">
          <ul>
            <li>
              <label>
               <input type="checkbox" name="genero" value="Mulheres"/>
               Mulheres
              </label>
            </li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li>
              <label>
               <input type="checkbox" name="genero" value="Homens"/>
               Homens
              </label>
            </li>
          </ul>
        </div>
        <div class="column last">
          <ul>
            <li>
              <label>
               <input type="checkbox" name="genero" value="LGBT"/>
               LGBT
              </label>
            </li>
          </ul>
        </div>
      </li>

      <li class="subForm">
       <p>
         Quais são as Manifestações e Linguagens que o Projeto utiliza em
         suas atividades?
         <em class="helpText">Responda mais de uma se necessário!</em>
       </p>
       <div class="column">
         <ul>
          <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Artes digitais"/>
             Artes digitais
           </label>
          </li>

          <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Artes plásticas"/>
             Artes plásticas
           </label>
          </li>

          <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Audiovisual"/>
             Audiovisual
           </label>
          </li>

          <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Circo"/>
             Circo
           </label>
          </li>

          <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Culinária"/>
             Culinária
           </label>
          </li>

          <li>
           <label>
             <input type="checkbox" name="manifestacoes_linguagens" value="Dança"/>
             Dança
           </label>
          </li>
        </ul>
      </div>
      <div class="column">
        <ul>
           <li>
             <label>
               <input type="checkbox" name="manifestacoes_linguagens" value="Fotografia"/>
               Fotografia
             </label>
           </li>

           <li>
             <label>
               <input type="checkbox" name="manifestacoes_linguagens" value="Grafite"/>
               Grafite
             </label>
           </li>

           <li>
             <label>
               <input type="checkbox" name="manifestacoes_linguagens" value="Internet"/>
               Internet
             </label>
           </li>

           <li>
             <label>
               <input type="checkbox" name="manifestacoes_linguagens" value="Jornalismo"/>
               Jornalismo
             </label>
           </li>

           <li>
             <label>
               <input type="checkbox" name="manifestacoes_linguagens" value="Literatura"/>
               Literatura
             </label>
           </li>

           <li>
             <label>
               <input type="checkbox" name="manifestacoes_linguagens" value="Música"/>
               Música
             </label>
           </li>
        </ul>
      </div>
      <div class="column last">
        <ul>
           <li>
             <label>
               <input type="checkbox" name="manifestacoes_linguagens" value="Rádio"/>
               Rádio
             </label>
           </li>

           <li>
             <label>
               <input type="checkbox" name="manifestacoes_linguagens" value="Teatro"/>
               Teatro
             </label>
           </li>
           
           <li>
             <label>
               <input type="checkbox" name="manifestacoes_linguagens" value="Tecnologias digitais"/>
               Tecnologias digitais
             </label>
           </li>

           <li>
             <label>
               <input type="checkbox" name="manifestacoes_linguagens" value="Tradição oral"/>
               Tradição oral
             </label>
           </li>

           <li>
             <label>
               <input type="checkbox" name="manifestacoes_linguagens" value="TV"/>
               TV
             </label>
           </li>

           <li>
             <label>
               <input type="checkbox" name="outras_manifestacoes"/>
               Outras
             </label>
           </li>
         </ul>
       </div>
     </li>

     <li>
       <ul class="telefones subForm">
         <li class="bottomBorder">
           <label>
             Upload de Plano de trabalho e documentações do Projeto
             <input type="file" name="documentacoes" />
           </label>
         </li>
       </ul>
       <input
          type="button" value="Outro arquivo"
          onclick="novaDocumentacao ($('.telefones', $(this).parent()));"/>
     </li>
    </ul>
  </div>
</div>

