{% extends 'base.html' %}

{% block extra_head %}
{% endblock %}

{% block content %}

<h2>Projetos</h2>
<ol>
  <li>
    <a href="{{ url_for('projetos.listing') }}">
      Acessar a lista de pontos cadastrados
    </a>
  </li>
  <li>
    <a href="{{ url_for('projetos.novo') }}">
      Cadastrar um novo ponto
    </a>
  </li>
</ol>

{% if not is_logged_in() %}
<h2>Acesso</h2>
{% if request.args.get('erro') %}
<div class="erro">Usuário ou senha incorretos</div>
{% endif %}
<form id="login" method="post" action="{{ url_for('login') }}">
  <ol>
    <li>
      <label>Nome de usuário</label> <input type="text" name="usuario">
    </li>
    <li>
      <label>Senha</label> <input type="password" name="senha">
    </li>
    <li>
      <input type="submit" value="Entrar">
    </li>
  </ol>
</form>
{% endif %}

{% endblock %}
