{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" media="all"
      href="{{ url_for('.static', filename='css/home.css') }}">
<link
   rel="stylesheet" type="text/css" media="all"
   href="{{ url_for('.static', filename='css/login.css') }}">

<script src="{{ url_for('.static', filename='js/inc/jquery-1.4.4.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/inc/jquery.validate.fixed-0.1.js') }}"></script>

<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/inc/jquery.form.js') }}">
</script>

<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/validator.methods.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('.static', filename='js/login.js') }}"></script>

{% endblock %}

{% block content %}

<ol>
  <li>
    <span>1</span>
    <h2>
      <a href="{{ url_for('projetos.listing') }}">
        Acessar a lista de pontos cadastrados;
      </a>
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit.
    Curabitur auctor velit vitae nisi tristique adipiscing.
    Vivamus lacinia sem.</p>
  </li>
  <li>
    <span>2</span>
    <h2>
      <a href="{{ url_for('projetos.novo') }}">
        Cadastrar um novo ponto;
      </a>
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit.
    Curabitur auctor velit vitae nisi tristique adipiscing.
    Vivamus lacinia sem.</p>
  </li>
  <li class="last">
    <span>3</span>
    <h2>
      <a href="{{ url_for('usuarios.listing') }}">
        Acessar a lista de pessoas cadastradas.
      </a>
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit.
    Curabitur auctor velit vitae nisi tristique adipiscing.
    Vivamus lacinia sem.</p>
  </li>
</ol>

{% endblock %}

{% block sidebar %}

{% if not is_logged_in() %}

  <h3>Entrar</h3>
  {% include "portlets/login.html" %}

{% endif %}

{% endblock %}

