{% extends 'base.html' %}

{% block content %}

<h2>Acesso</h2>

<p>
  Se você ainda não tem acesso ao sistema,
  <a href="{{ url_for('usuarios.novo') }}">cadastre-se</a> agora.
</p>

{% if request.args.get('erro') %}
<div class="erro">Usuário ou senha incorretos</div>
{% endif %}
<form id="login" method="post" action="{{ url_for('login') }}">
  <input type="hidden" name="proxima" value="{{ proxima }}">
  <ol>
    <li>
      <label>Nome de usuário</label> <input type="text" name="usuario">
    </li>
    <li>
      <label>Senha</label> <input type="password" name="senha">
    </li>
    <li>
      <input type="submit" value="Entrar">
    </li>
  </ol>
</form>
{% endblock %}
