{% macro make_select_options(items) -%}
  {% for key, title in items %}
    <option value="{{ key }}">{{ title }}</option>
  {% endfor %}
{%- endmacro %}

{% macro make_inline_list(items, key, from_choice) -%}
  {% for item in items %}
  {% if from_choice %}
  {{ from_choice[item[key]] }}
  {% else %}
  {{ item[key] }}
  {% endif %}
  {% if loop.index != items|length %}, {% else %}.{% endif %}
  {% endfor %}
{%- endmacro %}

{% macro make_list(items, key, from_choice) -%}
  {% for item in items %}
  {% if from_choice %}
  {{ from_choice[item[key]] }}
  {% else %}
  {{ item[key] }}
  {% endif %}
  {% if loop.index != items|length %}<br/>{% endif %}
  {% endfor %}
{%- endmacro %}

{% macro format_tel(tel) -%}
  {{ "(%s) %s.%s" % (tel[:2], tel[2:6], tel[6:]) }}
{%- endmacro %}

{% macro make_tel_list(items, dict) -%}
  {% for item in items %}
  {{ format_tel(item['numero']) }} <span style="color: #BDBDBD;">({{ dict[item['tipo']] }})</span>{% if loop.index != items|length %}<br/>{% endif %}
  {% endfor %}
{%- endmacro %}

{% macro make_address_list(adresses) -%}
  {% for end in adresses %}
  <div {% if loop.index != adresses|length %}class="borderbottom"{% endif %}>
    <ul>
      <li>{{ end.logradouro }}, {{ end.numero }} {{ end.complemento }}</li>
      <li>{{ end.bairro }}</li>
      <li>{{ end.cidade }} - {{ end.uf }}</li>
    </ul>
  </div>
  {% endfor %}
{%- endmacro %}

{% macro make_checkbox_list(name, items, columns, use_class=True) -%}
  {% for col in range(columns) %}
      {% with %}
      {% set class = {2: 'two', 3: 'three', 4: 'four'} %}
      <div class="column {% if columns >= 2 and use_class %}{{ class[columns] }}column{% endif %} {% if loop.index == columns %}last{% endif %}">
      {% endwith %}
        <ul>
          {% with %}
          {% set size = (col < (items|length % columns))|int + (items|length / columns)|int %}
          {% set left = (col)*size %}
          {% set right = (col+1)*size %}
          {% for key, label in items[left:right] %}
          <li>
            <label>
              <input type="checkbox" name="{{ name }}" value="{{ key }}"/>
              {{ label }}
            </label>
          </li>
          {% endfor %}
          {% endwith %}
        </ul>
      </div>
  {% endfor %}
{%- endmacro %}
