
<form id="paginator" method="get">
  {% if search_fields %}
  <ul>
    <li class="busca">
      {% for name, props in search_fields %}
      <div class="column">
        <label>{{ props.label }}:</label>
        {% if props.type == 'select' %}
          <select name="{{ name }}">
            <option value=""></option>
            {% for v, title in props.choices %}
            <option value="{{ v }}" {% if v == cvars[name] %}selected="selected"{% endif %}>{{ title }}</option>
            {% endfor %}
          </select>
        {% else %}
          <input type="text" name="{{ name }}" id="{{ name }}" value="{{ cvars[name] }}" class="textarea medium" />
        {% endif %}
      </div>
      {% endfor %}
      <div class="column">
        <label>Limite:</label>
        <select name="limit" class="small">
          {% for l in cvars.limites %}
          <option value="{{ l }}" {% if l == cvars.limit %}selected="selected"{% endif %}>{{ l }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="column last">
        <label>&nbsp;</label>
        <input type="submit" value="Buscar" />
      </div>
    </li>
  </ul>
  {% endif %}
  {% if items %}
  
  {% if cvars.exibition > 1 %}
  <div>
    <p>
      Exibindo <strong>{{ cvars.exibition }}</strong> de um total de
      <strong>{{ pagination.count }}</strong> items.
    </p>
  </div>
  {% endif %}
  
  <div class="tablecontent">
    <table class="paginator">
      <thead>
        <tr>
          {% for id, props in columns %}
          <th class="{{ props.thclass }}" id="{% if props.mcol %}{{ props.mcol }}.{{ id }}{% else %}{{ id }}{% endif %}">{{ props.title }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr {% autoescape false %}{{ tr_event(item) }}{% endautoescape %}>
          {% for id, props in columns %}
          <td class="{{ props.class }}">
            {% autoescape false %}
              {{ cel(item, id, props) }}
            {% endautoescape %}
          </td>
          {% endfor %}
        </tr>
        {% if quickview %}
        <tr class="quickview">
          <td colspan="{{ columns|length }}">
            {% include quickview %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div style="margin-top: 10px;">
    <ul>
      <li>
        {% if pagination['pages'] != 1 %}
        {% for i in range(1, pagination['pages']+1) %}
        <a href="javascript: $('input[name=page]').val('{{ i }}'); FORM.submit()"
           {% if i == pagination['page'] %}
           class="selected"
           {% endif %}>{{ string(i).zfill(2) }}</a>
        {% endfor %}
        {% endif %}
        <input type="hidden" name="page" value="{{ cvars.page }}" />
      </li>
    </ul>
  </div>

  <input type="hidden" name="order_by" value="{{ cvars.order_by }}" />
  
  <script type="text/javascript">
    var FORM = document.getElementById('paginator');
    
    function appendOrderBy(newob) {
        var $orderby = $("input[name=order_by]");
        var obys = $orderby.val().split(' ');
        var n = newob.replace('-', '').replace(' ', '');
        for (var k = 0; k < obys.length; k++) {
            if (n == obys[k].replace('-', '').replace(' ', '')) {
                obys.splice(k,1);
                break;
            }
        }
        return newob.replace(' ', '') + " " + obys.join(' ');
    }
    
    $("table th").each(function() {
        $(this).click(function() {
            var n = $(this).attr('id');
            var $orderby = $("input[name=order_by]");
            var minus = " ";
            if ($(this).hasClass('arrowdown')) {
                minus = "-";
            }
            $orderby.val(appendOrderBy(minus + n));
            FORM.submit();
        });
    });
  </script>
  
  {% else %}
    <div style="text-align: center;">
      <h3 style="text-transform: none;">Nenhum resultado encontrado</h3>
    </div>
  {% endif %}
</form>  
