{% set selected = "pessoas" %}
{% extends 'base.html' %}

{% block extra_head %}
<link
   rel="stylesheet" type="text/css"
   href="{{ url_for('.static', filename='css/projetos.listing.css') }}">
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/inc/jquery.js') }}"></script>
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/projetos.listing.js') }}"></script>
{% endblock %}

{% block content %}
<h2>Pessoas</h2>

{% if lista %}

<form id="busca">
  <div class="campoBusca">
    <label>UF</label>
    <select name="uf">
      <option disabled="disabled">Selecione</option>
      {% for uf in vals_uf %}
      <option value="{{ uf }}">{{ uf }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="campoBusca">
    <label>Cidade</label>
    <select name="cidade">
      <option disabled="disabled">Selecione uma UF</option>
    </select>
  </div>

  <div class="resumo">
    <div class="button">+</div>
  </div>
</form>

<ul id="sumarioProjetos">
  <li>
    Exibindo <strong>{{ pagination.limit }}</strong> de um total de
    <strong>{{ pagination.count }}</strong> projetos.
  </li>
  <li>
    {% for i in range(1, pagination['pages']) %}
    <a href="?page={{ i }}"
       {% if i == pagination['page'] %}
       class="selected"
       {% endif %}>{{ i }}</a>
    {% endfor %}
  </li>
</ul>

<table id="projetos">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th>UF</th>
      <th>Data do cadastro</th>
    </tr>
  </thead>
  <tbody>
    {% for linha in lista %}
    <tr onclick="showProject({{ linha.id }}, this)">
      <td>
        <a>
          {{ linha.nome }}
        </a>
      </td>
      <td>{{ linha.endereco.0.cidade }}</td>
      <td>{{ linha.endereco.0.uf }}</td>
      <td>{{ linha.data_cadastro.strftime('%d/%m/%Y %H:%M') }}</td>
    </tr>
    <tr class="detalhesProjeto">
      <td colspan="4">
        <fieldset class="endereco">
          <legend>Endereço</legend>
          <ul>
            <li><a class="logradouro"></a></li>
            <li><a class="bairro"></a></li>
            <li><a class="cidade"></a> - <a class="uf"></a></li>
          </ul>
        </fieldset>

        <fieldset class="contatos">
          <legend>Contatos</legend>
          <div class="email">
            <label>Email</label> <a href=""></a>
          </div>
          <div class="site">
            <label>Site</label>
            <a href=""></a>
          </div>
          <div class="telefones">
            <strong>Telefones</strong>
            <ul></ul>
          </div>
        </fieldset>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>Nenhum usuário cadastrado no momento.</p>
{% endif %}

{% endblock %}
