{% set selected = "pessoas" %}
{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('.static', filename='css/register.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('.static', filename='css/projetos.listing.css') }}">
<script type="text/javascript"
        src="{{ url_for('.static', filename='js/inc/jquery.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('.static', filename='js/projetos.listing.js') }}"></script>
{% endblock %}

{% block content %}
<h2>Pessoas</h2>



<div class="main container">
  <form id="lista_usuarios" method="get">
    <ul>
      <li class="busca">
        <div class="column">
          <label>Nome:</label>
          <input type="text" name="nome" id="nome" class="textarea medium" />
        </div>
        <div class="column">
          <label>Cidade:</label>
          <input type="text" name="cidade" id="cidade" class="textarea medium" />
        </div>
        <div class="column">
          <label>Estado:</label>
          <select name="uf">
            <option value=""></option>
            {% for v, uf in vals_uf %}
            <option value="{{ v }}" {% if v == cvars.uf %}selected="selected"{% endif %}>{{ uf }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="column">
          <label>Limite:</label>
          <select name="limit" class="small">
            {% for l in limites %}
            <option value="{{ l }}" {% if l == cvars.limit %}selected="selected"{% endif %}>{{ l }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="column last">
          <label>&nbsp;</label>
          <input type="submit" value="Buscar" />
        </div>
      </li>
    </ul>
    
    {% if lista %}
    
    <div>
      <p>
        Exibindo <strong>{{ pagination.limit }}</strong> de um total de
        <strong>{{ pagination.count }}</strong> projetos.
      </p>
    </div>
    
    <div class="tablecontent">
      <table id="projetos">
        <thead>
          <tr>
            <th class="{{ cvars.nome_class }}" id="nome">Nome</th>
            <th class="{{ cvars.cidade_class }}" id="cidade">Cidade</th>
            <th class="{{ cvars.uf_class }}" id="uf">UF</th>
            <th class="{{ cvars.data_cadastro_class }}" id="data_cadastro">Data do cadastro</th>
          </tr>
        </thead>
        <tbody>
          {% for linha in lista %}
          <tr onclick="showProject({{ linha.id }}, this)">
            <td style="width: 360px; max-width: 360px;">
              <a>
                {{ linha.nome }}
              </a>
            </td>
            <td style="width: 150px; max-width: 150px;">{% if linha.endereco %}{{ linha.endereco.0.cidade }}{% endif %}</td>
            <td style="width: 50px;">{% if linha.endereco %}{{ linha.endereco.0.uf }}{% endif %}</td>
            <td>{{ linha.data_cadastro.strftime('%d/%m/%Y %H:%M') }}</td>
          </tr>
          <tr class="detalhesProjeto hidden">
            <td colspan="4">
              <fieldset class="endereco">
                <legend>Endereço</legend>
                <ul>
                  <li><a class="logradouro"></a></li>
                  <li><a class="bairro"></a></li>
                  <li><a class="cidade"></a> - <a class="uf"></a></li>
                </ul>
              </fieldset>

              <fieldset class="contatos">
                <legend>Contatos</legend>
                <div class="email">
                  <label>Email</label> <a href=""></a>
                </div>
                <div class="site">
                  <label>Site</label>
                  <a href=""></a>
                </div>
                <div class="telefones">
                  <strong>Telefones</strong>
                  <ul></ul>
                </div>
              </fieldset>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <div style="margin-top: 10px;">
      <ul>
        <li>
          {% for i in range(1, pagination['pages']) %}
          <a href="javascript: $('input[name=page]').val('{{ i }}'); FORM.submit()"
             {% if i == pagination['page'] %}
             class="selected"
             {% endif %}>{{ i }}</a>
          {% endfor %}
          <input type="hidden" name="page" />
        </li>
      </ul>
    </div>

    <input type="hidden" name="order_by" value="{{ cvars.order_by }}" />
    
    <script type="text/javascript">
      var FORM = document.getElementById('lista_usuarios');
      
      function appendOrderBy(newob) {
          var $orderby = $("input[name=order_by]");
          var obys = $orderby.val().split(' ');
          var n = newob.replace('-', '').replace(' ', '');
          for (var k = 0; k < obys.length; k++) {
              if (n == obys[k].replace('-', '').replace(' ', '')) {
                  obys.splice(k,1);
                  break;
              }
          }
          return newob.replace(' ', '') + " " + obys.join(' ');
      }
      
      $("table th").each(function() {
          $(this).click(function() {
              var n = $(this).attr('id');
              var $orderby = $("input[name=order_by]");
              var minus = " ";
              if ($(this).hasClass('arrowdown')) {
                  minus = "-";
              }
              $orderby.val(appendOrderBy(minus + n));
              FORM.submit();
          });
      });
    </script>
    
    {% else %}
      <h3>Nenhum usuário cadastrado no momento.</h3>
    {% endif %}
  </form>  
</div>


{% endblock %}
