{% extends 'base.html' %}

{% block extra_head %}
<link
   rel="stylesheet" type="text/css"
   href="{{ url_for('.static', filename='css/usuarios.novo.css') }}">
<script
   type="text/javascript"
   src="http://localhost/javascript/jquery/jquery.js"></script>
<script
   type="text/javascript"
   src="{{ url_for('.static', filename='js/usuarios.novo.js') }}"></script>
{% endblock %}

{% block content %}
<h2>Cadastro de usuários</h2>

<form id="novoUsuario" method="post" action=".">
<ol class="form">
  <li>
    <h3>Sobre a sua participação</h3>
    <ol class="section">
      <li>
        <label class="voceEh">Você é</label>
        <select id="voce-eh" name="voce-eh">
          <option></option>
          <option value="participante">
            Participante da equipe de uma iniciativa cultural
          </option>
          <option value="secretaria-municipal">
            Integrante de Secretaria Municipal
          </option>
          <option value="secretaria-estadual">
            Integrante de Secretaria Estadual
          </option>
          <option value="minc">
            Integrante do Ministério da Cultura
          </option>
          <option value="nao-participante">
            Não faço parte da equipe de nenhuma iniciativa cultural
          </option>
        </select>

        <ul id="papelParticipante" class="displayNone">
          <li>
            <label>
              <input
                 type="radio" name="papel"
                 value="responsavel-conveniada">
              Responsável/Coordenador da iniciativa conveniada
              ao Programa Cultura Viva
            </label>
          </li>

          <li>
            <label>
              <input
                 type="radio" name="papel"
                 value="responsavel-nao-conveniada">
              Responsável/Coordenador da
              iniciativa <strong>não</strong> conveniada ao
              Programa Cultura Viva
            </label>
          </li>

          <li>
            <label>
              <input type="radio" name="papel" value="integrante">
              Não sou Responsável/Coordenador da
              iniciativa. Apenas integro a equipe.
            </label>
          </li>

          <li>
            <label>Nome da iniciativa</label>
            <input
               type="text" name="nome-iniciativa"
               placeholder="Digite o nome completo da iniciativa">
          </li>
        </ul>

      </li><!-- Você é -->
    </ol><!-- Sobre sua participação -->
  </li>

  <li>
    <h3>Dados Pessoais</h3>
    <ol class="section">
      <li>
        <label>Nome completo</label>
        <input type="text" name="nome">
      </li>

      <li>
        <label>CPF</label>
        <input type="text" name="cpf">
        <em class="helpText">
          <a href="#">Por que pedimos o seu CPF</a>
        </em>
      </li>

      <li>
        <label>Data de nascimento</label>
        <input type="text" name="dataNascimento">
      </li>

      <li>
        <label>Sexo</label>
        <label>
          <input type="radio" name="sexo" value="feminino">
          Feminino
        </label>
        <label class="sexoMasculino">
          <input type="radio" name="sexo" value="masculino">
          Masculino
        </label>
        <br class="clear">
      </li>

      <li>
        <label>Sua foto</label>
        <input type="file" name="avatar">
      </li>
    </ol><!-- Dados pessoais -->
  </li>

  <li>
    <h3>Sobre a sua localização geográfica</h3>
    <ol class="section">
      <li>
        <label>CEP</label>
        <input
           type="text" name="end_cep"
           onblur="cepWebService (this.value);">
        <em class="helpText">
          <a href="#">Não sabe o seu CEP?</a>
        </em>
      </li>

      <li>
        <label>Número</label>
        <input type="text" name="end_numero">
      </li>

      <li>
        <label>Logradouro</label>
        <input type="text" name="end_logradouro">
      </li>

      <li>
        <label>Complemento</label>
        <input type="text" name="end_complemento">
      </li>

      <li>
        <label>UF</label>
        <select name="end_uf">
          <option></option>
          {% for uf in vals_uf %}
          <option value="{{ uf }}">{{ uf }}</option>
          {% endfor %}
        </select>
      </li>

      <li>
        <label>Cidade</label>
        <input type="text" name="end_cidade">
      </li>

      <li>
        <label>Bairro</label>
        <input type="text" name="end_bairro">
      </li>

      <li>
        <label>Latitude</label>
        <input type="text" name="end_latitude">
      </li>

      <li>
        <label>Longitude</label>
        <input type="text" name="end_longitude">
      </li>
    </ol><!-- Sobre a sua localização geográfica -->
  </li>

  <li>
    <h3>Contatos e Espaços na rede</h3>
    <ol class="section">
      <li>
        <label>Telefone</label>
        <input type="text" name="telefone">
      </li>

      <li>
        <label>Email</label>
        <input type="text" name="email">
      </li>

      <li>
        <label>Website</label>
        <input type="text" name="website">
      </li>

      <li class="subForm">
        <h4>Redes sociais</h4>
        <ul id="redesSociais">
          <li>
            <label>Nome</label>
            <input type="text" name="rs_nome">
          </li>
          <li class="bottomBorder">
            <label>Endereço</label>
            <input type="text" name="rs_link">
          </li>
        </ul><!-- Redes sociais -->
        <input
           class="sub" type="button" value="Outra rede"
           onclick="novaEntrada ($('#redesSociais'));">
      </li>

      <li class="subForm">
        <h4>Feeds</h4>
        <ul id="feeds">
          <li>
            <label>Nome</label>
            <input type="text" name="feed_nome">
          </li>
          <li class="bottomBorder">
            <label>Endereço</label>
            <input type="text" name="feed_link">
          </li>
        </ul><!-- Feeds -->
        <input class="sub" type="button" value="Outro feed"
           onclick="novaEntrada ($('#feeds'));">
      </li>
    </ol><!-- Contatos e espaços na rede -->
  </li>

  <li>
    <h3>Dados de acesso</h3>
    <ol class="section">
      <li>
        <label>Login</label>
        <input type="text" name="usuario">
      </li>
      <li>
        <label>Senha</label>
        <input type="text" name="senha">
      </li>
      <li>
        <label>Confirmar senha</label>
        <input type="text" name="confirmar_senha">
      </li>
    </ol>
  </li>
</ol>
</form>

{% endblock %}
